<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning">
            <strong>Внимание!</strong> Задолженность будет удалена за все предудыщие заезды.
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="platenumber" class="control-label" th:text="#{car.platenumber}"></label>
            <input type="text" class="form-control" id="platenumber">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal" th:text="#{crm.close}"></button>
    <button type="button" class="btn btn-success waves-effect waves-light" th:text="#{crm.deleteDebt}" th:onclick="removeDebtForPlateNumber()"></button>
</div>
