<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{::script}, ~{::link})" xmlns="http://www.w3.org/1999/html">

<link th:href="@{/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card-box table-responsive">
                    <h4 class="m-t-0 header-title"><b th:text="#{parking.cars}"></b>
                        <b th:text="${parkingCars.getParking().getName()}"></b>
                    </h4>

                    <table id=" datatable-buttons" class="table table-bordered table-bordered">
                        <thead>
                        <tr>
                            <th><a th:text="#{ordinal.number}"></a></th>
                            <th><a th:text="#{car.platenumber}"></a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="car, iterStat : ${parkingCars.carsList}">
                            <td th:text="${iterStat.count}"></td>
                            <td th:text="${car.getPlatenumber()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Required datatable js -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Buttons examples -->
<script th:src="@{/plugins/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables/jszip.min.js}"></script>
<script th:src="@{/plugins/datatables/pdfmake.min.js}"></script>
<script th:src="@{/plugins/datatables/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.colVis.min.js}"></script>
<!-- Responsive examples -->
<script th:src="@{/plugins/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables/responsive.bootstrap4.min.js}"></script>

<script th:inline="javascript">
    //Buttons examples
    var locale = [[${#locale}]];
    var address = locale==="en" ? '': '/plugins/datatables/json/'+locale+'.json';

    var table = $('#datatable-buttons').DataTable({
        lengthChange: false,
        buttons: ['copy', 'excel', 'pdf', 'csv'],
        language: {
            url: address
        }
    });

    table.buttons().container()
        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
</script>

</html>
