<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{::script}, ~{::link})" xmlns="http://www.w3.org/1999/html">

<link th:href="@{/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>

<div class="content">
    <div class="container">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title"><b th:text="#{carstate.journal}"></b></h4>
            <form th:action="@{|/journal/list|}" th:object="${carStateDtoFilter}" method="post">
                <div class="row">
                    <div class="col-3">
                        <input type="datetime-local" class="form-control" id="dateFromString" th:field="*{dateFromString}">
                    </div>
                    <div class="col-3">
                        <input type="datetime-local" class="form-control" id="dateToString" th:field="*{dateToString}">
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" id="plateNumber" th:field="*{plateNumber}" th:placeholder="#{car.platenumber}">
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-success" th:text="#{crm.search}"></button>
                        <button type="button" class="btn btn-secondary" th:text="#{crm.clear}"></button>
                    </div>
                </div>
            </form>
            <div class="mb-5"></div>

            <div class="row">
                <div class="table-responsive" data-pattern="priority-columns">
                    <table id="carStateTable" class="table table-bordered">
                        <thead>
                        <tr>
                            <th><a th:text="#{crm.id}"></a></th>
                            <th><a th:text="#{car.platenumber}"></a></th>
                            <th><a th:text="#{carState.inTimestamp}"></a></th>
                            <th><a th:text="#{carState.outTimestamp}"></a></th>
                            <th><a th:text="#{carState.duration}"></a></th>
                            <th><a th:text="#{carState.rate}"></a></th>
                            <th><a th:text="#{carState.payment}"></a></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Required datatable js -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Buttons examples -->
<script th:src="@{/plugins/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables/jszip.min.js}"></script>
<script th:src="@{/plugins/datatables/pdfmake.min.js}"></script>
<script th:src="@{/plugins/datatables/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.colVis.min.js}"></script>
<!-- Responsive examples -->
<script th:src="@{/plugins/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables/responsive.bootstrap4.min.js}"></script>

<script type="text/javascript">
       const table = $('#carStateTable').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/rest/carstate?plateNumber=" + $('#plateNumber').val() +"&dateFromString=&dateToString=",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
            return JSON.stringify(d);
            }
        },
        columnDefs: [{
            "defaultContent": "-",
            "targets": "_all"
        }],
        "columns": [
            {"data": "id", "width" : "5%"},
            {"data": "carNumber", "width" : "10%"},
            {"data": "inTimestampString", "width": "15%"},
            {"data": "outTimestampString", "width" : "15%"},
            {"data": "duration", "width" : "15%"},
            {"data": "rateAmount", "width" : "15%"},
            {"data": function (carState)
                {
                    if(!carState.paid && carState.whitelistJson){
                        const whitelists = JSON.parse(carState.whitelistJson);
                        let text = '';
                        for(const w of whitelists){
                            text = text + '<span>' + (w.categoryName ? w.categoryName : '') + ' (Белый лист)</><br/>';
                            if(w.conditionDetails){
                                text = text + '<small class="text-muted">' + w.conditionDetails + '</small><br/>';
                            }
                        }
                        return text;
                    } else if(carState.paymentJson && carState.paymentJson !== ""){
                        const payments = JSON.parse(carState.paymentJson);
                        let text = '<span>' + carState.payment + '</span>';
                        for(const p of payments){
                            text = text + '<br/><small class="text-muted">Сумма ' + p.price + 'тг. Провайдер: ' + p.providerPaymentName + '. Дата ' + p.created + '</small>';
                        }
                        return text;
                    } else {
                        return carState.payment;
                    }
                }, "width" : "35%"
            }
        ],
        "order": [ //[[ in thymeleaf is inline script
            [ 0, "desc" ]
        ],
        buttons: ['copy', 'excel', 'pdf', 'csv'],
           language: {
               url: '/plugins/datatables/json/ru.json'
           }
    });

   var interval = null;
   $(document).on('ready',function(){
       interval = setInterval(showButtons,1000);
   });

   function showButtons(){
       if(table.buttons().container().length > 0){
           clearInterval(interval);
           table.buttons().container().appendTo('#carStateTable_wrapper .col-md-6:eq(0)');
       }
   }
</script>

</html>