<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{::script}, ~{::link})" xmlns="http://www.w3.org/1999/html">

<link th:href="@{/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>

<div class="content">
    <div class="container">
        <div class="card table-responsive table-striped">
            <div class="card-header" th:text="#{carstate.journal}"></div>
            <div class="card-body">
                <form th:action="@{|/journal/list|}" th:object="${carStateFilterDto}" method="post" id="filter">
                    <div class="row">
                        <div class="col-3">
                            <input type="datetime-local" class="form-control" id="dateFromString"
                                   th:field="*{dateFromString}">
                        </div>
                        <div class="col-3">
                            <input type="datetime-local" class="form-control" id="dateToString"
                                   th:field="*{dateToString}">
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" id="plateNumber" required autocomplete="off" th:field="*{plateNumber}"
                                   th:placeholder="#{car.platenumber}">
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-success" th:text="#{crm.search}"></button>
                            <button type="button" class="btn btn-secondary clear" th:text="#{crm.clear}"></button>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-3">
                            <input type="number" class="form-control" id="amount" min="0" max="1000000"
                                   th:field="*{amount}" th:placeholder="#{carState.payment}">
                        </div>
                        <div class="col-3">
                            <select class="form-control select2" id="inGateId" th:field="*{inGateId}">
                                <option value="" th:text="#{carState.inGate}"></option>
                                <option th:each="r : ${allInGates}" th:value="${r.id}" th:text="${r.name}">
                                </option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select class="form-control select2" id="outGateId" th:field="*{outGateId}">
                                <option value="" th:text="#{carState.outGate}"></option>
                                <option th:each="r : ${allOutGates}" th:value="${r.id}" th:text="${r.name}">
                            </select>
                        </div>
                        <th:block sec:authorize="hasAnyRole('ROLE_OPERATOR_NO_REVENUE_SHARE', 'ROLE_MANAGER')">
                            <div class="col-3">
                                <button type="button" data-toggle="modal" data-target="#remove-debt-modal"
                                        th:onclick="javascript:$('#removeDebt').modal('show')" class="btn btn-secondary"
                                        th:text="#{crm.deleteDebt}"></button>
                            </div>
                        </th:block>

                        <div class="col-3 mt-1">
                            <div class="form-group">
                                <input type="checkbox" th:field="*{inParking}" th:value="*{inParking}">
                                <label class="control-label" th:text="#{carState.inParking}"></label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="mb-5"></div>

                <div class="row">
                    <div class="col-3">
                        <button type="button" class="btn btn-success waves-effect waves-light" onclick="exportExcel()" th:text="#{journal.downloadExcel}"></button>
                    </div>
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="carStateTable" class="table table-bordered">
                            <thead>
                            <tr>
                                <th></th>
                                <th><a th:text="#{car.platenumber}"></a></th>
                                <th><a th:text="#{carState.inTimestamp}"></a></th>
                                <th><a th:text="#{carState.inGate}"></a></th>
                                <th><a th:text="#{carState.outTimestamp}"></a></th>
                                <th><a th:text="#{carState.outGate}"></a></th>
                                <th><a th:text="#{carState.duration}"></a></th>
                                <th><a th:text="#{carState.toPay}"></a></th>
                                <th><a th:text="#{carState.rate}"></a></th>
                                <th><a th:text="#{carState.payment}"></a></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="removeDebt" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-warning">
                                <strong>Внимание!</strong> Задолженность будет удалена за все предудыщие заезды.
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" th:text="#{car.platenumber}"></label>
                                <input type="text" class="form-control" name="plateNumber" id="plateNumber">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success waves-effect waves-light" th:text="#{crm.deleteDebt}"
                            th:onclick="removeDebtForPlateNumber()"></button>
                    <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal"
                            th:text="#{crm.close}"></button>
                </div>
            </div>
        </div>
    </div>

    <div id="manualPassModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label class="control-label" th:text="#{car.platenumber}"></label>
                                <input type="text" class="form-control" name="plateNumber" id="plateNumber" readonly>
                            </div>

                            <div class="form-group">
                                <label class="control-label" th:text="#{carState.inTimestamp}"></label>
                                <input type="datetime-local" class="form-control" name="dateIn" id="dateIn">
                            </div>

                            <div class="form-group">
                                <label class="control-label" th:text="#{carState.outTimestamp}"></label>
                                <input type="datetime-local" class="form-control" id="dateOut">
                            </div>

                            <div class="form-group">
                                <label class="control-label" th:text="#{crm.ExitType}"></label>
                                <select class="form-control select2" id="exitType">
                                    <option value=1 th:text="#{crm.paidExit}"></option>
                                    <option value=0 th:text="#{crm.freeExit}"></option>
                                    </option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="passCar" class="btn btn-success waves-effect waves-light" th:text="#{crm.save}"
                            th:onclick="manualPassCar()"></button>
                    <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal"
                            th:text="#{crm.close}"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addBlacklist" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" th:action="@{|/journal/blacklist|}">
                    <div class="modal-body">
                        <div class="col-md form-group">
                            <label class="form-label" th:text="#{car.platenumber}"></label>
                            <input type="text" class="form-control" name="plateNumber" required>
                        </div>
                        <div class="col-md form-group">
                            <label class="form-label" th:text="#{blacklist.type}"></label>
                            <textarea class="form-control" name="type"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div th:replace="partial/_form-footer :: hypertext('blacklist-save','blacklist-close',null)"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editPlate" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" th:action="@{|/journal/edit-plate|}">
                    <input type="hidden" name="id"/>
                    <div class="modal-body">
                        <div class="col-md form-group">
                            <label class="form-label" th:text="#{car.platenumber}"></label>
                            <input type="text" class="form-control" name="carNumber" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div th:replace="partial/_form-footer :: hypertext('plate-save','plate-close',null)"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Required datatable js -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Buttons examples -->
<script th:src="@{/plugins/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables/jszip.min.js}"></script>
<script th:src="@{/plugins/datatables/pdfmake.min.js}"></script>
<script th:src="@{/plugins/datatables/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.colVis.min.js}"></script>
<!-- Responsive examples -->
<script th:src="@{/plugins/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/assets/js/fancybox.umd.js}"></script>
<script th:src="@{/assets/js/xlsx.js}"></script>
<script th:src="@{/plugins/datatables/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/assets/js/bootstrap-autocomplete.min.js}"></script>

<script th:inline="javascript">
    var address = '/plugins/datatables/json/ru.json';
    var edit = [[#{crm.edit}]];
    var del = [[#{crm.delete}]];
    var locale = [[${#locale}]];
    if (locale == "en") {
        address = "";
    }

    const table = $('#carStateTable').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/rest/carstate",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
                d.customFilters = {
                    "dateFromString": $('#dateFromString').val(),
                    "dateToString": $('#dateToString').val(),
                    "plateNumber": $("#plateNumber").val(),
                    "amount": $('#amount').val(),
                    "inGateId": $('#inGateId').val(),
                    "outGateId": $('#outGateId').val(),
                    "inParking": $("input[name=inParking]").prop("checked")
                };
                return JSON.stringify(d);
            }
        },
        columnDefs: [{
            "defaultContent": "",
            "targets": "_all"
        }],
        "columns": [
            {
                "data": function (carState) {
                    const canEdit = [[${canEdit}]];
                    const canRemove = [[${canRemove}]];
                    const canKick = [[${canKick}]];

                    const outTime = carState["outTimestamp"]
                    const paid = carState["paid"];

                    var menu = '<div class="dropdown">' +
                        '<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"><i class="ion-edit"></i></button>' +
                        '<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">';


                    if (!outTime || outTime === "") {
                        if (canEdit) {
                            menu += '<button class="dropdown-item" onclick="showModalClick(this)" data-modal="editPlate" data-number="' + carState.carNumber + '" data-id="' + carState.id + '">' + [[#{carState.editPlate}]] + '</button>';
                        }

                        if (canRemove && paid) {
                            menu += '<button class="dropdown-item" onclick="showModalClick(this)" data-modal="removeDebt" data-number="' + carState.carNumber + '" data-id="' + carState.id + '">' + [[#{crm.deleteDebt}]] + '</button>';
                        }

                        if (canKick) {
                            menu += '<button class="dropdown-item" onclick="showModalClickWithDate(this)" data-modal="manualPassModal" data-number="' + carState.carNumber + '" data-time="' + carState.inTimestampString + '" data-id="' + carState.id + '">' + [[#{carState.manualOut}]] + '</button>';
                            // menu += '<a class="dropdown-item" href="out/' + carState.carNumber + '">' + [[#{carState.manualOut}]] + '</a>';
                        }
                    }

                    if (canKick) {
                        menu += '<button class="dropdown-item" onclick="showModalClick(this)" data-modal="addBlacklist" data-number="' + carState.carNumber + '" data-id="' + carState.id + '">' + [[#{carState.toBlackList}]] + '</button>';
                    }

                    menu += '</div></div>';

                    return menu;
                }, "orderable": false
            },
            {"data": "carNumber", "width": "10%"},
            {"data": "inTimestampString", "width": "12%"},
            {"data": "inGate", "width": "10%", "orderable": false},
            {"data": "outTimestampString", "width": "13%"},
            {"data": "outGate", "width": "10%", "orderable": false},
            {"data": "duration", "width": "15%", "orderable": false},
            {
                "data": function (carState) {
                    if (carState.paid) {
                        return [[#{carState.paid}]];
                    } else {
                        return [[#{carState.free}]];
                    }
                }, "width": "5%", "orderable": false
            },
            {"data": "rateAmount", "width": "5%", "orderable": false},
            {
                "data": function (carState) {
                    let text = '';
                    if (!carState.paid && carState.whitelistJson) {
                        const whitelists = JSON.parse(carState.whitelistJson);

                        for (const w of whitelists) {
                            text = text + '<span>' + (w.groupName ? w.groupName : [[#{carstate.individual}]]) + ' ([[#{whitelist.title}]])</><br/>';
                            if (w.conditionDetails) {
                                text = text + '<small class="text-muted">' + w.conditionDetails + '</small><br/>';
                            }
                        }
                    }
                    if (carState.paymentJson && carState.paymentJson !== "") {
                        if(text !== ''){
                            text = text + '<br/>';
                        }
                        const payments = JSON.parse(carState.paymentJson);
                        text = text + '<span>' + carState.payment + '</span>';
                        for (const p of payments) {
                            text = text + '<br/><small class="text-muted">[[#{rate.sum}]] ' + p.price + ' [[#{billing.provider}]] ' + p.providerPaymentName + '. [[#{rate.date}]] ' + p.created + '</small>';
                        }
                    }
                    if (carState.abonomentJson && carState.abonomentJson !== "") {
                        if(text !== ''){
                            text = text + '<br/>';
                        }
                        const a = JSON.parse(carState.abonomentJson);
                        if(Array.isArray(a)){
                            text = text + '<small class="text-muted">' + [[#{abonoment.title}]] + ': ';
                            let count = 0;
                            for (const arr of a) {
                                count++;
                                text = text + '<br/>' + count +'. ' + [[#{abonoment.begin}]] + '-' + arr.begin + ' '+ [[#{abonoment.end}]] + ' - ' + arr.end
                            }
                        } else {
                            text = text + '<small class="text-muted">' + [[#{abonoment.title}]] + ': ' + [[#{abonoment.begin}]] + '-' + a.begin + ' '+ [[#{abonoment.end}]] + ' - ' + a.end;
                        }
                    }
                    if(text === ''){
                        return carState.payment;
                    } else {
                        return text;
                    }


                }, "width": "30%", "orderable": false
            }
        ],
        "fnRowCallback": function (nRow, carState, iDisplayIndex) {
            var css = carState["css"];
            $(nRow).addClass(css);
        },
        "order": [ //[[ in thymeleaf is inline script
            [2, "desc"]
        ],
        // buttons: ['copy', 'excel', 'pdf', 'csv'],
        language: {
            url: address
        },
        searching: false
    });

    var interval = null;
    $(document).on('ready', function () {
        interval = setInterval(showButtons, 1000);
    });

    function showButtons() {
        if (table.buttons().container().length > 0) {
            clearInterval(interval);
            table.buttons().container().appendTo('#carStateTable_wrapper .col-md-6:eq(0)');
        }
    }

    function removeDebtForPlateNumber() {
        let plateNumber = $('#removeDebt').find('#plateNumber').val();
        if (plateNumber && plateNumber.length > 2 && plateNumber.length < 17) {
            $.get("/rest/carstate/remove/debt?plateNumber=" + plateNumber, function (data) {
                if (data && data == true) {
                    alert([[#{carstate.deletedSuccessfully}]]);
                    table.ajax.reload(); //reload datatable
                } else {
                    alert([[#{carstate.debtNotFound}]]);
                }
            });
        } else {
            alert([[#{arm.invalidPlateNumber}]]);
        }
    }

    function exportExcel(){
        console.log("exportExcel !");
        let dateFromString = $('#dateFromString').val();
        let dateToString = $('#dateToString').val();
        let plateNumber = $('#plateNumber').val();
        let inGateId = $('#inGateId').val();
        let outGateId = $('#outGateId').val();
        if((dateFromString && dateToString) || plateNumber || inGateId || outGateId){
            let carNumberH = [[#{car.platenumber}]];
            let inGateH = [[#{carState.inGate}]];
            let inTimestampStringH = [[#{carState.inTimestamp}]];
            let outGateH = [[#{carState.outGate}]];
            let outTimestampStringH = [[#{carState.outTimestamp}]];
            let durationH = [[#{carState.duration}]];

            $.get("/rest/carstate/excel?dateFromString=" + dateFromString + "&dateToString=" + dateToString + "&plateNumber=" + plateNumber + "&inGateId=" + inGateId + "&outGateId=" + outGateId, function (data) {
                data.unshift({carNumber: carNumberH, inGate: inGateH, inTimestampString: inTimestampStringH, outGate: outGateH, outTimestampString: outTimestampStringH, duration: durationH});
                let ws = XLSX.utils.json_to_sheet(data, {skipHeader:true});
                const wb = XLSX.utils.book_new();
                XLSX.utils.book_append_sheet(wb, ws, 'journal');
                XLSX.writeFile(wb, "journal.xls", { type: "buffer" });
            });

        } else {
            console.log('filter not defined')
        }
    }

    let initialDateIn;
    function showModalClickWithDate(e){
        const $input = $(e);
        const $modal = $input.data("modal");
        const $carNumber = $input.data("number");
        const $dateIn = $input.data("time");
        const $id = $input.data("id");
        let pattern = /(\d{2})\.(\d{2})\.(\d{4})\s(\d{2})\:(\d{2})\:(\d{2})/;
        let de = new Date($dateIn.replace(pattern,'$3-$2-$1T$4:$5:$6'));
        initialDateIn = new Date(de);
        de.setHours(de.getHours() + 6);
        document.getElementById('dateIn').value = de.toISOString().slice(0, 16);
        showModal($modal,$carNumber,$id);
    }

    function showModalClick(e){
        console.log(e);
        const $input = $(e);
        const $modal = $input.data("modal");
        const $carNumber = $input.data("number");
        const $id = $input.data("id");
        showModal($modal,$carNumber,$id);
    }

    function manualPassCar(){
        let exitType = $('#manualPassModal').find('#exitType').val();
        let dateOut = $('#manualPassModal').find('#dateOut').val();
        let plateNumber = $('#manualPassModal').find('#plateNumber').val();
        let dateIn = $('#manualPassModal').find('#dateIn').val();
        let newDateIn = new Date(dateIn)
        if (initialDateIn >= newDateIn) {
            $.get("/journal/manualOut?carNumber=" + plateNumber + "&dateOut=" + dateOut + "&exitType=" + exitType + "&dateIn=" + dateIn, function (data) {
                $('#manualPassModal').modal('hide');
                table.ajax.reload(); //reload datatable
            });
        } else if (initialDateIn < newDateIn) {
            alert([[#{crm.LaterDateIn}]]);
        }

    }

    function setDateOut() {
        let today = new Date();
        today.setHours(today.getHours() + 6);
        document.getElementById('dateOut').value = today.toISOString().slice(0, 16);
    }

    var activeCarState = {};
    function showModal(name, carNumber, id) {
        console.log(name);
        activeCarState["plateNumber"] = carNumber
        activeCarState["id"] = id;
        $("#"+name).modal('show');
    }

    $('#addBlacklist').on('shown.bs.modal', function () {
        $(this).find("input[name=plateNumber]").each(function () {
            $(this).val(activeCarState.plateNumber);
        });
    })
    $('#addBlacklist').on('hide.bs.modal', function () {
        activeCarState = {}
    })

    $('#editPlate').on('shown.bs.modal', function () {
        $(this).find("input[name=carNumber]").each(function () {
            $(this).val(activeCarState.plateNumber);
        });
        $(this).find("input[name=id]").each(function () {
            $(this).val(activeCarState.id);
        });
    })
    $('#editPlate').on('hide.bs.modal', function () {
        activeCarState = {}
    })

    $('#manualPassModal').on('shown.bs.modal', function () {
        $(this).find("input[name=plateNumber]").each(function () {
            $(this).val(activeCarState.plateNumber);
        });
        setDateOut();
    })
    $('#manualPassModal').on('hide.bs.modal', function () {
        setDateOut();
        activeCarState = {}
    })

    $('#removeDebt').on('shown.bs.modal', function () {
        if (activeCarState && activeCarState.plateNumber) {
            $(this).find("input[name=plateNumber]").each(function () {
                $(this).val(activeCarState.plateNumber);
                $(this).prop('disabled', true);
            });
        }
    })

    $(".blacklist-close").on('click', function () {
        $('#addBlacklist').modal('hide');
    })

    $(".plate-close").on('click', function () {
        $('#editPlate').modal('hide');
    })

    $(".clear").on('click',function (){
        $(':input','#filter')
            .not(':button, :submit, :reset, :hidden')
            .val('')
            .prop('checked', false)
            .prop('selected', false);
        table.ajax.reload();
    })
    $('#plateNumber').autoComplete({
        resolver: 'custom',
        minLength: 3,
        events: {
            search: function (q, callback) {
                $.ajax(
                    '/rest/whitelist/platenums/'+q
                ).done(function (res) {
                    callback(res);
                });
            }
        }
    });
</script>

</html>