<form th:action="@{|/parking/gate/${gate.parking.id}|}" th:object="${gate}" method="post">
    <input type="hidden" th:field="*{id}" th:value="*{id}">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="control-label" th:text="#{gate.name}"></label>
                <input type="text" class="form-control" id="name" th:field="*{name}" th:value="*{name}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="type" class="control-label" th:text="#{gate.type}"></label>
                <select th:field="*{gateType}" th:value="*{gateType}" class="form-control" id="type">
                    <option th:each="gateType : ${T(kz.spt.lib.model.Gate.GateType).ALL}"
                            th:value="${gateType}" th:text="#{'gate.gateType.' + ${gateType}}">
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="control-label" th:text="#{gate.description}"></label>
                <input type="text" class="form-control" id="description" th:field="*{description}" th:value="*{description}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="qrPanelIp" class="control-label" th:text="#{gate.qrPanelIp}"></label>
                <input type="text" class="form-control" id="qrPanelIp" th:field="*{qrPanelIp}" th:value="*{qrPanelIp}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="notControlBarrier" th:text="#{gate.notControlBarrier}"></label>
                <input type="checkbox" id="notControlBarrier" th:field="*{notControlBarrier}">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success waves-effect waves-light" th:text="#{crm.saveChanges}"></button>
        <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal" th:text="#{crm.close}"></button>
    </div>
</form>