<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{::script}, ~{})">


<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b>Edit user form</b></h4>
                    <p class="text-muted m-b-30 font-14"></p>

                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <form th:action="@{|/user/edit/${user.id}|}" th:object="${user}" method="post">
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label" th:text="#{user.username}"></label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" th:field="*{username}" th:value="*{username}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label" for="example-email" th:text="#{user.email}"></label>
                                        <div class="col-10">
                                            <input type="email" th:field="*{email}" th:value="*{email}" id="example-email" name="example-email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label" th:text="#{user.first.name}></label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" th:field="*{firstName}" th:value="*{firstName}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label"  th:text="#{user.last.name}"></label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" th:field="*{lastName}" th:value="*{lastName}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label"  th:text="#{user.password}"></label>
                                        <div class="col-10">
                                            <input type="password" th:field="*{password}" th:value="*{password}" class="form-control" value="password">
                                        </div>
                                    </div>

                                    <div class="form-group row" sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_OWNER', 'ROLE_ADMIN')">
                                        <label class="col-2 col-form-label"  th:text="#{role.name}"></label>
                                        <div class="col-10">
                                            <select id="roles" multiple class="form-control" th:field="*{roles}" onchange="checkSelectedRoles(value)">
                                                <option th:each="r : ${allRoles}"
                                                        th:value="${r.id}" th:text="${r.name}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label"></label>
                                        <div class="col-10">
                                            <button type="submit" class="btn btn-danger waves-effect waves-light" th:text="#{user.addUser}"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function checkSelectedRoles(values){
        var values = $('#roles').val();
        if(values && values.indexOf('5')!==-1){
            $('#patronymicDiv').show();
        } else {
            $('#patronymicDiv').hide();
        }
    }
</script>

</html>
