<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div},  ~{::script}, ~{::link})">


<link th:href="@{/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css}" rel="stylesheet"/>


<div class="content">
    <div class="container">


        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b th:text="#{customer.addNew}"></b></h4>
                    <p class="text-muted m-b-30 font-14"></p>

                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <form th:action="@{|/customers/add|}" th:object="${customer}" method="post">
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label" th:text="#{customer.first.name}"></label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" th:field="*{firstName}">
                                            <span th:if="${#fields.hasErrors('firstName')}" class="badge badge-warning"
                                                  th:text="#{customer.invalidName}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label" th:text="#{customer.last.name}"></label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" th:field="*{lastName}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label" th:text="#{customer.phone}"></label>
                                        <div class="col-10">
                                            <input type="number" class="form-control" th:field="*{phoneNumber}" min="0">
                                        </div>
                                    </div>
                                    <div class="form-group row" id="carsList">
                                        <label class="col-2 col-form-label" th:text="#{customer.carsList}"></label>
                                        <div class="col-10">
                                            <select class="form-control" multiple data-role="tagsinput"
                                                    th:field="*{plateNumbers}" placeholder="Add car numbers">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label"></label>
                                        <div class="col-10">
                                            <a th:href="@{|/customers/list|}"
                                               class="btn btn-primary btn-custom waves-effect waves-light w-md"
                                               type="button" th:text="#{crm.cancel}"></a>
                                            <button type="submit" class="btn btn-danger waves-effect waves-light"
                                                    th:text="#{crm.save}"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js}"></script>

<script type="text/javascript">

    $( document ).ready(function() {
        $('.bootstrap-tagsinput').addClass('form-control');
    });




</script>
</html>