<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{::script}, ~{::link})" xmlns="http://www.w3.org/1999/html">

<link th:href="@{/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card table-responsive">
                    <div class="card-header" th:text="#{customer.customers}"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="searchText" autocomplete="off">
                            </div>
                            <div class="col-3">
                                <button type="button" class="btn btn-success" th:text="#{crm.search}" onclick="search()"></button>
                            </div>
                            <div class="col-3">
                                <button type="button" class="btn btn-success waves-effect waves-light" onclick="exportExcel(this)" th:text="#{journal.downloadExcel}"></button>
                            </div>
                        </div>
                        <div class="row">
                            <table id="customerTable" class="table table-bordered table-bordered">
                                <thead>
                                <tr>
                                    <th><a th:text="#{customer.first.name}"></a></th>
                                    <th><a th:text="#{customer.last.name}"></a></th>
                                    <th><a th:text="#{customer.phone}"></a></th>
                                    <th><a th:text="#{customer.cars}"></a></th>
                                    <th><a th:text="#{user.email}"></a></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                            </table>

                            <p sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">
                            <div class="form-group row">
                                <div class="col-12">
                                    <a th:href="@{|/customers/add|}" class="btn btn-success waves-effect waves-light"
                                       th:text="#{customer.addNew}"></a>
                                </div>
                            </div>
                            </p>
                            <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" id = "delete">

                            </div>
                            <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" id = "edit">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Required datatable js -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Buttons examples -->
<script th:src="@{/plugins/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables/jszip.min.js}"></script>
<script th:src="@{/plugins/datatables/pdfmake.min.js}"></script>
<script th:src="@{/plugins/datatables/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.colVis.min.js}"></script>
<!-- Responsive examples -->
<script th:src="@{/plugins/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/assets/js/xlsx.js}"></script>

<script  th:inline="javascript">
    var edit = [[#{buttons.edit}]];
    var del = [[#{buttons.delete}]];
    var locale = [[${#locale}]];
    var address = locale == "en" ? "": '/plugins/datatables/json/' + locale + '.json';

    const table = $('#customerTable').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/rest/customers",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
                d.customFilters = {
                    "searchText": $('#searchText').val(),
                };
                return JSON.stringify(d);
            }
        },
        "columns": [
            {"data": "firstName", "width" : "25%"},
            {"data": "lastName"},
            {"data": "phoneNumber"},
            {"data" : "cars" ,
              "render" : "[, ].platenumber"
            },
            {"data": "email"},
            {"data": "id",
            "render" : function(id){
                if($('#edit').length)
                {
                return '<a href = "edit/' + id+'">' + edit + '<a>';
                }
                return '';
            }},
            {"data": "id",
            "render" : function(id){
                if($('#delete').length)
                {
                    return '<a href = "javascript:deleteAlert(' + id+')">'+ del + '<a>';
                }
                else
                {
                    return '';
                }
            }}
        ],
        language: {
            url: address
        },
        searching: false
    });

    function deleteAlert(id){
        if(confirm([[#{alert.sureToDelete}]])){
            var settings = {
                "url": "/customers/delete/" + id,
                "method": "GET",
                "timeout": 0,
                "processData": false,
                "contentType": false,
                "data": false
            };
            $.ajax(settings).done(function (response) {
                table.ajax.reload();
            });
        }else{

        }
    }

    function search(){
        table.ajax.reload();
    }

    function exportExcel(element){
        $(element).html('Excel <img src="/assets/images/Ajax-loader.gif"></img>');
        $(element).attr('disabled','disabled');
        let searchText = $('#searchText').val();

        let firstnameH = [[#{customer.first.name}]];
        let lastnameH = [[#{customer.last.name}]];
        let phoneH = [[#{customer.phone}]];
        let carsH = [[#{customer.cars}]];
        let emailH = [[#{user.email}]];

        $.get("/rest/customers/excel?searchText=" + searchText, function (data) {
            data.unshift({firstname: firstnameH, lastname: lastnameH, phone: phoneH, cars: carsH, email: emailH});
            let ws = XLSX.utils.json_to_sheet(data, {skipHeader:true});
            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'customers');
            XLSX.writeFile(wb, "customers.xlsx", { type: "buffer", bookType:"xlsx" });
            $(element).html('Excel');
            $(element).removeAttr('disabled');
        });
    }

</script>

</html>
