<form th:action="@{|/parking/controller/${controller.gate.id}|}" th:object="${controller}" method="post">
    <input type="hidden" th:field="*{id}" th:value="*{id}">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ipAddress" class="control-label" th:text="#{controller.ipAddress}"></label>
                <input type="text" class="form-control" th:field="*{ip}" th:value="*{ip}" id="ipAddress" placeholder="1.1.1.1">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="control-label" th:text="#{controller.name}"></label>
                <input type="text" class="form-control" id="name" th:field="*{name}" th:value="*{name}">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" th:text="#{crm.close}"></button>
        <button type="submit" class="btn btn-info waves-effect waves-light" th:text="#{crm.saveChanges}"></button>
    </div>
</form>