<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{::script}, ~{::link})" xmlns="http://www.w3.org/1999/html">

<link th:href="@{/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/assets/css/fancybox.css}" rel="stylesheet" type="text/css"/>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card table-responsive">
                    <div class="card-header" th:text="#{events.events}"></div>
                    <div class="card-body">
                        <form th:action="@{|/events/list|}" th:object="${eventFilterDto}" method="post" id="search">
                            <div class="row">
                                <div class="col-4">
                                    <label th:text="#{events.dateFrom}"></label>
                                    <input type="datetime-local" class="form-control filter"
                                           th:field="*{dateFromString}"
                                           th:value="*{dateFromString}"
                                           th:placeholder="#{events.dateFrom}">
                                </div>
                                <div class="col-4">
                                    <label th:text="#{events.dateTo}"></label>
                                    <input type="datetime-local" class="form-control filter" th:field="*{dateToString}"
                                           th:value="*{dateToString}"
                                           placeholder="#{events.dateTo}">
                                </div>
                                <div class="col-4">
                                    <label style="width: 100%">&nbsp;</label>
                                    <button type="button" class="btn btn-success waves-effect waves-light" onclick="excelForEventCar()" th:text="#{events.downloadEvents}"></button>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-4">
                                    <input type="text" class="form-control" id="plateNumber" th:field="*{plateNumber}"
                                           th:value="*{plateNumber}" th:placeholder="#{car.platenumber}">
                                </div>
                                <div class="col-4">
                                    <select class="form-control select2 filter" id="gateId" th:field="*{gateId}">
                                        <option value="" th:text="#{events.gate}"></option>
                                        <option th:each="r : ${allGates}" th:value="${r.id}" th:text="${r.name}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </form>

                        <div class="mb-5"></div>

                        <div class="row">
                            <div class="table-responsive" data-pattern="priority-columns">
                                <table id="eventTable" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th style="display: none;"><a></a></th>
                                        <th><a th:text="#{car.platenumber}"></a></th>
                                        <th><a th:text="#{events.date}"></a></th>
                                        <th><a th:text="#{parking.description}"></a></th>
                                        <th><a th:text="#{events.type}"></a></th>
                                        <th><a th:text="#{events.gate}"></a></th>
                                        <th><a th:text="#{events.photo}"></a></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Required datatable js -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Buttons examples -->
<script th:src="@{/plugins/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables/jszip.min.js}"></script>
<script th:src="@{/plugins/datatables/pdfmake.min.js}"></script>
<script th:src="@{/plugins/datatables/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.colVis.min.js}"></script>
<!-- Responsive examples -->
<script th:src="@{/plugins/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/assets/js/fancybox.umd.js}"></script>
<script th:src="@{/assets/js/xlsx.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var locale = [[${#locale}]];
    var descriptionColumn = locale == "en" ? "descriptionEn" : "description";
    let dateFrom = $('#dateFromString').val();
    let dateTo = $('#dateToString').val();

    function buildAjaxUrl(){
        return "/rest/events?dateFromString=" + $('#dateFromString').val() + "&dateToString=" + $('#dateToString').val() +
            "&plateNumber=" + $('#plateNumber').val() + "&gateId=" + $('#gateId').val();
    }

    const table = $('#eventTable').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": buildAjaxUrl(),
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
                return JSON.stringify(d);
            }
        },
        columnDefs: [{
            "defaultContent": "-",
            "targets": "_all"
        },
        {
            "targets": [0],
            "visible": false,
            "searchable": false
        }],
        "columns": [
            {"data": "id"},
            {"data": "plateNumber", "width": "10%"},
            {"data": "created", "width": "20%"},
            {"data": descriptionColumn, "orderable": false},
            {"data": "eventType", "width": "10%", "orderable": false},
            {"data": "gate", "width": "10%", "orderable": false},
            {
                "data": "imgUrl",
                "orderable": false,
                "render": function (data, type, event) {
                    if(event.smallImgUrl){
                        return '<a class="col col--4" data-fancybox="event" data-src="/files/pictures' + event.bigImgUrl + '" data-caption="' + event.plateNumber + '" data-width="1800">' +
                            '<img class="thumb-img" alt src="/files/pictures' + event.smallImgUrl + '"></a>';
                    } else if(event.bigImgUrl){
                        return '<a class="col col--4" data-fancybox="event" data-src="/files/pictures' + event.bigImgUrl + '" data-caption="' + event.plateNumber + '" data-width="1800">' +
                            '<img class="thumb-img" alt src="/files/pictures' + event.bigImgUrl + '"></a>';
                    }
                    return '';
                },
                "width": "20%"
            }
        ],
        "order": [ //[[ in thymeleaf is inline script
            [0, "desc"]
        ],
        buttons: ['copy', 'excel', 'pdf', 'csv'],
        language: {
            url: locale === "en" ? "" : "/plugins/datatables/json/ru.json"
        },
    });

    var interval = null;
    var interval2 = null;
    $(document).on('ready', function () {
        interval = setInterval(showButtons, 500);
        interval2 = setInterval(hideFilter, 1000);
    });

    function showButtons() {
        if (table.buttons().container().length > 0) {
            clearInterval(interval);
            table.buttons().container().appendTo('#eventTable_wrapper .col-md-6:eq(0)');
        }
    }

    function hideFilter() {
        if (!$("#eventTable_filter").hasClass("d-none")) {
            clearInterval(interval2);
            $("#eventTable_filter").addClass("d-none");
        }
    }

    $('.filter').on('change', function () {
        $('#search').submit();
    })

    $('#plateNumber').on('keyup', function () {
        table.ajax.url(buildAjaxUrl()).load();
    });

    function excelForEventCar(){
        let dateFromString = $('#dateFromString').val();
        let dateToString = $('#dateToString').val();
        let plateNumber = $('#plateNumber').val();
        let gateId = $('#gateId').val();

        let platenumberH = [[#{car.platenumber}]];
        let denyH = [[#{events.deny}]];
        let allowH = [[#{events.allow}]];
        let allH = [[#{events.allEvents}]];
        let whitelitedH = [[#{events.whitelisted}]];

        var arr = [{platenumber: platenumberH, deny: denyH, allow: allowH, all: allH, isWhitelist: whitelitedH}];
        $.get("/rest/events/excel?dateFromString=" + dateFromString + "&dateToString=" + dateToString + "&plateNumber=" + plateNumber + "&gateId=" + gateId, function (data) {
            for (let i = 0; i < data.length; i++) {
                arr.push(data[i]);
            }
            let ws = XLSX.utils.json_to_sheet(arr, {skipHeader:true});
            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'events');
            XLSX.writeFile(wb, "events.xls", { type: "buffer" });
        });
    }

</script>

</html>