<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{::script}, ~{::link})" xmlns="http://www.w3.org/1999/html">

<link th:href="@{/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/assets/css/fancybox.css}" rel="stylesheet" type="text/css"/>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card table-responsive">
                    <div class="card-header" th:text="#{events.events}"></div>
                    <div class="card-body">
                        <form th:action="@{|/events/excel|}" th:object="${eventFilterDto}" method="post" id="search">
                            <div class="row">
                                <div class="col-4">
                                    <label th:text="#{events.dateFrom}"></label>
                                    <input type="datetime-local" min="2018-01-01T00:00" max="2028-01-01T00:00" class="form-control filter"
                                           th:field="*{dateFromString}"
                                           th:value="*{dateFromString}"
                                           th:placeholder="#{events.dateFrom}">
                                </div>
                                <div class="col-4">
                                    <label th:text="#{events.dateTo}"></label>
                                    <input type="datetime-local" min="2018-01-01T00:00" max="2028-01-01T00:00" class="form-control filter"
                                           th:field="*{dateToString}"
                                           th:value="*{dateToString}"
                                           placeholder="#{events.dateTo}">
                                </div>
                                <div class="col-4">
                                    <label style="width: 100%">&nbsp;</label>
                                    <button  type="submit" name="action" value="excel" class="btn btn-success mr-1"
                                             th:text="#{events.downloadEvents}"></button>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-4">
                                    <input type="text" class="form-control" id="plateNumber" th:field="*{plateNumber}"
                                           th:value="*{plateNumber}" th:placeholder="#{car.platenumber}">
                                </div>
                                <div class="col-4">
                                    <select class="form-control select2 filter" id="gateId" th:field="*{gateId}">
                                        <option value="" th:text="#{events.gate}"></option>
                                        <option th:each="r : ${allGates}" th:value="${r.id}" th:text="${r.name}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-control select2 filter" id="eventType" th:field="*{eventType}">
                                        <option value="" th:text="#{events.type}"></option>
                                        <option th:value="PAID" th:text="#{events.paid}"></option>
                                        <option th:value="WHITELIST" th:text="#{events.bywhitelist}"></option>
                                        <option th:value="DEBT" th:text="#{events.debt}"></option>
                                        <option th:value="NEW_CAR_DETECTED" th:text="#{events.newcardetected}"></option>
                                        <option th:value="MANUAL_GATE_OPEN" th:text="#{events.manualgateopen}"></option>
                                        <option th:value="MANUAL_GATE_CLOSE" th:text="#{events.manualgateclose}"></option>
                                        <option th:value="PASS" th:text="#{events.pass}"></option>
                                        <option th:value="NOT_PASS" th:text="#{events.notpass}"></option>
                                        <option th:value="IGNORING" th:text="#{events.ignoring}"></option>
                                        <option th:value="SKIP" th:text="#{events.skip}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <button type="button" class="btn btn-primary mr-1"
                                        onclick="find()"
                                        th:text="#{payments.find}"></button>
                            </div>
                        </form>

                        <div class="mb-5"></div>

                        <div class="row">
                            <div class="table-responsive" data-pattern="priority-columns">
                                <table id="eventTable" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th style="display: none;"><a></a></th>
                                        <th><a th:text="#{car.platenumber}"></a></th>
                                        <th><a th:text="#{events.date}"></a></th>
                                        <th><a th:text="#{parking.description}"></a></th>
                                        <th><a th:text="#{events.status}"></a></th>
                                        <th><a th:text="#{events.gate}"></a></th>
                                        <th><a th:text="#{events.photo}"></a></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Required datatable js -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Buttons examples -->
<script th:src="@{/plugins/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables/jszip.min.js}"></script>
<script th:src="@{/plugins/datatables/pdfmake.min.js}"></script>
<script th:src="@{/plugins/datatables/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.colVis.min.js}"></script>
<!-- Responsive examples -->
<script th:src="@{/plugins/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/assets/js/fancybox.umd.js}"></script>
<script th:src="@{/assets/js/xlsx.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var locale = [[${#locale}]];
    var descriptionColumn = locale == "en" ? "descriptionEn" : (locale === "ru" ? "description" : "descriptionDe");
    console.log($('#eventType').val())

    function buildAjaxUrl(){
        return "/rest/events?dateFromString=" + $('#dateFromString').val() + "&dateToString=" + $('#dateToString').val() +
            "&plateNumber=" + $('#plateNumber').val() + "&gateId=" + $('#gateId').val() + "&eventType=" + $('#eventType').val();
    }

    Fancybox.bind("[data-fancybox]", {
	    Image: {
		    Panzoom: {
			    zoomFriction: 0.75,
			    maxScale: function () {
				    return 3;
			    },
		    },
	    },
    });

    const table = $('#eventTable').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": buildAjaxUrl(),
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
                return JSON.stringify(d);
            }
        },
        columnDefs: [{
            "defaultContent": "-",
            "targets": "_all"
        },
        {
            "targets": [0],
            "visible": false,
            "searchable": false
        }],
        "columns": [
            {"data": "id"},
            {"data": "plateNumber", "width": "10%"},
            {"data": "created", "width": "20%"},
            {"data": descriptionColumn, "orderable": false},
            {"data": "eventType", "width": "10%", "orderable": false},
            {"data": "gate", "width": "10%", "orderable": false},
            {
                "data": "imgUrl",
                "orderable": false,
                "render": function (data, type, event) {
                    if(event.smallImgUrl){
                        return '<a class="col col--4" data-fancybox="event" data-src="/files/pictures' + event.bigImgUrl + '" data-caption="' + event.plateNumber + '">' +
                            '<img class="thumb-img" alt src="/files/pictures' + event.smallImgUrl + '"></a>';
                    } else if(event.bigImgUrl){
                        return '<a class="col col--4" data-fancybox="event" data-src="/files/pictures' + event.bigImgUrl + '" data-caption="' + event.plateNumber + '">' +
                            '<img class="thumb-img" alt src="/files/pictures' + event.bigImgUrl + '"></a>';
                    }
                    return '';
                },
                "width": "20%"
            }
        ],
        "order": [ //[[ in thymeleaf is inline script
            [0, "desc"]
        ],
        language: {
            url: locale==="en" ? '': '/plugins/datatables/json/'+locale+'.json'
        },
    });

    var interval = null;
    var interval2 = null;
    $(document).on('ready', function () {
        interval = setInterval(showButtons, 500);
        interval2 = setInterval(hideFilter, 1000);
        $(window).keydown(function(event){
            if(event.keyCode === 13) {
                event.preventDefault();
                return false;
            }
        });
    });

    function showButtons() {
        if (table.buttons().container().length > 0) {
            clearInterval(interval);
            table.buttons().container().appendTo('#eventTable_wrapper .col-md-6:eq(0)');
        }
    }

    function hideFilter() {
        if (!$("#eventTable_filter").hasClass("d-none")) {
            clearInterval(interval2);
            $("#eventTable_filter").addClass("d-none");
        }
    }
/*
    $('.filter').on('change', function () {
        $('#search').submit();
    })
*/
    function find() {
        table.ajax.url(buildAjaxUrl()).load();
    }
    // $('#plateNumber').on('keyup', function () {
    //     table.ajax.url(buildAjaxUrl()).load();
    // });

    function excelForEventCar(element){
        $(element).html('Excel <img src="/assets/images/Ajax-loader.gif"></img>');
        $(element).attr('disabled','disabled');
        let dateFromString = $('#dateFromString').val();
        let dateToString = $('#dateToString').val();
        let plateNumber = $('#plateNumber').val();
        let gateId = $('#gateId').val();

        let platenumberH = [[#{car.platenumber}]];
        let dateH = [[#{events.date}]];
        let descriptionH = [[#{parking.description}]];
        let statusH = [[#{events.status}]];
        let gateH = [[#{events.gate}]];

        var arr = [{plateNumber: platenumberH, created: dateH, description: descriptionH, status: statusH, gate: gateH}];
        $.get("/rest/events/excel?dateFromString=" + dateFromString + "&dateToString=" + dateToString + "&plateNumber=" + plateNumber + "&gateId=" + gateId, function (data) {
            for (let i = 0; i < data.length; i++) {
                arr.push(data[i]);
            }
            let ws = XLSX.utils.json_to_sheet(arr, {skipHeader:true});
            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'events');
            XLSX.writeFile(wb, "events.xlsx", { type: "buffer", bookType:"xlsx"});
            $(element).html('Excel');
            $(element).removeAttr('disabled');
        });
    }

</script>

</html>
