<form th:action="@{|/parking/camera/${camera.gate.id}|}" th:object="${camera}" method="post">
    <input type="hidden" th:field="*{id}" th:value="*{id}">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ipAddress" class="control-label" th:text="#{camera.ipAddress}"></label>
                <input type="text" class="form-control" th:field="*{ip}" th:value="*{ip}" id="ipAddress">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="control-label" th:text="#{camera.name}"></label>
                <input type="text" class="form-control" id="name" th:field="*{name}" th:value="*{name}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="control-label" th:text="#{camera.description}"></label>
                <input type="text" class="form-control" id="description" th:field="*{description}" th:value="*{description}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="type" class="control-label" th:text="#{camera.type}"></label>
                <select th:field="*{cameraType}" th:value="*{cameraType}" class="form-control" id="type">
                    <option th:each="cameraType : ${T(kz.spt.lib.model.Camera.CameraType).ALL}"
                            th:value="${cameraType}" th:text="#{'camera.cameraType.' + ${cameraType}}">
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="timeout" class="control-label" th:text="#{camera.timeout}"></label>
                <input type="number" min="0" max="360" class="form-control" id="timeout" th:field="*{timeout}" th:value="*{timeout}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="login" class="control-label" th:text="#{camera.login}"></label>
                <input type="text" class="form-control" id="login" th:field="*{login}" th:value="*{login}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="password" class="control-label" th:text="#{camera.password}"></label>
                <input type="text" class="form-control" id="password" th:field="*{password}" th:value="*{password}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="login" class="control-label" th:text="#{camera.snapshot}"></label>
                <input type="text" class="form-control" id="login" th:field="*{snapshotUrl}" th:value="*{snapshotUrl}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="login" class="control-label" th:text="#{camera.enabled}"></label>
                <select th:field="*{enabled}"  class="form-control" >
                    <option th:value="true" th:text="#{crm.yes}"></option>
                    <option th:value="false" th:text="#{crm.no}"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success waves-effect waves-light" th:text="#{crm.saveChanges}"></button>
        <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal" th:text="#{crm.close}"></button>
    </div>
</form>