<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{}, ~{})">


<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b th:text="#{parking.addParking}"></b></h4>
                    <p class="text-muted m-b-30 font-14"></p>

                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <form th:action="@{|/parking/add|}" th:object="${parking}" method="post">
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label" th:text="#{parking.name}"></label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" th:field="*{name}">
                                            <span th:if="${#fields.hasErrors('name')}" class="badge badge-warning" th:text="#{parking.invalidName}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label" th:text="#{parking.description}"></label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" th:field="*{description}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label" th:text="#{parking.parkingSpaceNumber}"></label>
                                        <div class="col-10">
                                            <input type="number" class="form-control" th:field="*{parkingSpaceNumber}" min="0">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label" th:text="#{parking.type}"></label>
                                        <div class="col-10">
                                            <select th:field="*{parkingType}" class="form-control">
                                                <option th:each="parkingType : ${T(kz.spt.api.model.Parking.ParkingType).ALL}"
                                                        th:value="${parkingType}" th:text="#{'parking.parkingType.' + ${parkingType}}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label"></label>
                                        <div class="col-10">
                                            <button type="submit" class="btn btn-danger waves-effect waves-light" th:text="#{parking.addNew}"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>