<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{::script}, ~{::link})" xmlns="http://www.w3.org/1999/html">

<link th:href="@{/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card table-responsive">
                    <div class="card-header" th:text="#{parking.parkings}"></div>
                    <div class="card-body">
                        <p sec:authorize="hasAnyRole('ROLE_SUPERADMIN', 'ROLE_ADMIN')">
                        <div class="form-group row">
                            <div class="col-12">
                                <a th:href="@{|/parking/add|}" class="btn btn-success waves-effect waves-light" th:text="#{crm.add}"></a>
                            </div>
                        </div>
                        </p>
<hr>
                      <table id="datatable-buttons" class="table table-bordered">
                        <thead>
                        <tr>
                          <th><a th:text="#{ordinal.number}"></a></th>
                          <th><a th:text="#{parking.name}"></a></th>
                          <th><a th:text="#{parking.description}"></a></th>
                          <th><a th:text="#{parking.type}"></a></th>
                          <th><a th:text="#{parking.parkingSpaceNumber}"></a></th>
                          <th><a th:text="#{parking.gateSize}"></a></th>
                          <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="parking, iterStat : ${parkings}">
                          <td th:text="${iterStat.count}"></td>
                          <td th:text="${parking.name}"></td>
                          <td th:text="${parking.description}"></td>
                          <td th:text="#{'parking.parkingType.' + ${parking.parkingType}}"></td>
                          <td th:text="${parking.parkingSpaceNumber}"></td>
                          <td th:text="${parking.gateList.size()}"></td>
                          <td>
                              <div class="btn-group">
                                  <button type="button" class="btn btn-primary"><i class="fa fa-cog" aria-hidden="true"></i></button>
                                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
                                      <span class="sr-only">Toggle Dropdown</span>
                                  </button>
                                  <div class="dropdown-menu">
                                      <a  class="dropdown-item" sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_SUPERADMIN', 'ROLE_ADMIN')" th:href="@{|/parking/edit/${parking.id}|}">
                                          <i class='fa fa-pencil' aria-hidden='true'></i> <span  th:text="#{crm.edit}"></span>
                                      </a>
                                      <a  class="dropdown-item" th:href="@{|/parking/details/${parking.id}|}">
                                          <i class='fa fa-wrench' aria-hidden='true'></i> <span  th:text="#{parking.settings}"></span>
                                      </a>

                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item " sec:authorize="hasAnyRole('ROLE_SUPERADMIN', 'ROLE_ADMIN')" th:href="@{|/parking/delete/${parking.id}|}" onclick="if (!confirm([[#{alert.sureToDelete}]])) return false">
                                          <i class='fa fa-trash' aria-hidden='true'></i> <span th:text="#{crm.delete}"></span></a>
                                  </div>
                              </div>



                          </td>


                        </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>
            </div>
</div>

<!-- Required datatable js -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Buttons examples -->
<script th:src="@{/plugins/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables/jszip.min.js}"></script>
<script th:src="@{/plugins/datatables/pdfmake.min.js}"></script>
<script th:src="@{/plugins/datatables/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.colVis.min.js}"></script>
<!-- Responsive examples -->
<script th:src="@{/plugins/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables/responsive.bootstrap4.min.js}"></script>

<script th:inline="javascript">
    var locale = [[${#locale}]];
    var address = locale==="de" ? '/plugins/datatables/json/de.json': '/plugins/datatables/json/ru.json';
    if (locale == "en") {
        address = "";
    }
  //Buttons examples
  var table = $('#datatable-buttons').DataTable({
    lengthChange: false,
    buttons: ['copy', 'excel', 'pdf', 'csv'],
    language: {
      url: address
    }
  });

  table.buttons().container()
          .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');

    function deleteAlert(id){
        if(confirm([[#{alert.sureToDelete}]])){
            var settings = {
                "url": "/parking/delete/" + id,
                "method": "GET",
                "timeout": 0,
                "processData": false,
                "contentType": false,
                "data": false
            };
            $.ajax(settings).done(function (response) {

            });
        }else{

        }
    }


</script>

</html>