<!DOCTYPE html>
<html th:fragment="main(body_content, scripts, links)" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="head_nav" class="navbar-custom" style="display: flex; align-items: center; justify-content: space-between;">

    <ul class="list-inline menu-left mb-0">
        <li class="float-left">
            <button class="button-menu-mobile open-left waves-light waves-effect">
                <i class="mdi mdi-menu"></i>
            </button>
        </li>
    </ul>
    <ul class="list-inline menu-left mb-0">
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="hide-phone">
            <a th:href="@{|/parking/list|}" style="color: white; border-color: white;" class="btn">
                <i class="ti-settings"></i>
                <span th:text="#{parking.settings}"></span>
            </a>
        </li>
    </ul>

    <ul class="list-inline float-right mb-0">
        <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"
               role="button" aria-haspopup="false" aria-expanded="false" th:text="#{${'lang.' + #locale.language}}">
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="Preview">
                <a th:if="${#locale.language != 'en'}" href="javascript:changeLanguage('en')" class="dropdown-item notify-item">
                    <i class="mdi mdi-web"></i> <span th:text="#{lang.en}"></span>
                </a>
                <a th:if="${#locale.language != 'ru'}" href="javascript:changeLanguage('ru')" class="dropdown-item notify-item">
                    <i class="mdi mdi-web"></i> <span th:text="#{lang.ru}"></span>
                </a>
                <a th:if="${#locale.language != 'de'}" href="javascript:changeLanguage('de')" class="dropdown-item notify-item">
                    <i class="mdi mdi-web"></i> <span th:text="#{lang.de}"></span>
                </a>
            </div>
        </li>

        <li sec:authorize="isAuthenticated()" class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#"
               role="button"
               aria-haspopup="false" aria-expanded="false">
                <img th:src="@{/assets/images/users/avatar.jpg}" alt="user" class="rounded-circle">
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                <!-- item-->
                <div class="dropdown-item noti-title">
                    <h5 class="text-overflow"><small><span th:text="#{crm.welcome}"></span>! <span
                            sec:authentication="name"></span></small></h5>
                </div>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="mdi mdi-account-star-variant"></i> <span th:text="#{crm.profile}"></span>
                </a>

                <!-- item-->
                <a th:href="@{|/change-password|}" class="dropdown-item notify-item">
                    <i class="mdi mdi-lock-open"></i> <span th:text="#{crm.changePassword}"></span>
                </a>

                <a class="dropdown-item notify-item" onclick="javascript:$('#supportModal').modal('show')">
                    <i class="mdi mdi-alert-circle"></i> <span th:text="#{parking.support}"></span>
                </a>

                <!-- item-->
                <a href="/logout" th:href="@{#}" onclick="$('#logout_form').submit();"
                   class="dropdown-item notify-item">
                    <i class="mdi mdi-logout"></i> <span th:text="#{crm.logout}"></span>
                </a>

                <form th:action="@{/logout}" id="logout_form" style="display: none" method="post">
                    <input type="submit"/>
                </form>
            </div>
        </li>

    </ul>
</nav>
</html>