<!DOCTYPE html>
<html th:fragment="main(body_content, scripts, links)" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title th:text="#{crm.smartparking}"></title>

    <link rel="shortcut icon" th:href="@{/assets/images/favicon_1.ico}">

    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css">

    <link th:href="@{/plugins/switchery/switchery.min.css}" rel="stylesheet" />
    <link th:href="@{/plugins/morris/morris.css}" rel="stylesheet" />
    <script th:src="@{/assets/js/modernizr.min.js}"></script>

    <th:block th:replace="${links}" />
</head>

<body class="fixed-left">
<!-- Begin page -->
<div id="wrapper">
    <!-- Top Bar Start -->
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <a th:href="@{|/|}" class="logo"><i class="mdi mdi-radar"></i> <span th:text="#{crm.smartparking}"></span></a>
            </div>
        </div>
        <!-- Button mobile view to collapse sidebar menu -->
        <nav th:replace="layouts/head::head_nav">

        </nav>
    </div>
    <!-- ========== Left Sidebar Start ========== -->

    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul sec:authorize="isAuthenticated()">
                    <li class="menu-title" th:text="#{crm.main}"></li>
                    <li>
                        <a th:href="@{|/user/list|}" class="waves-effect waves-primary"><i
                                class="ti-user"></i><span th:text=" #{user.users} "></span></a>
                    </li>
                    <li>
                        <a th:href="@{|/parking/list|}" class="waves-effect waves-primary"><i
                                class="ti-map-alt"></i><span th:text=" #{parking.parkings} "></span></a>
                    </li>
                    <!--li>
                        <a th:href="@{|/customer/list|}" class="waves-effect waves-primary"><i
                                class="ti-home"></i><span> Customers </span></a>
                    </li-->
                    <li>
                        <a th:href="@{|/arm/realtime|}" class="waves-effect waves-primary"><i
                                class="ti-desktop"></i><span th:text=" #{crm.arm} "></span></a>
                    </li>
                    <li>
                        <a th:href="@{|/cars/list|}" class="waves-effect waves-primary"><i
                                class="ti-car"></i><span th:text=" #{car.cars} "></span></a>
                    </li>
                    <li>
                        <a th:href="@{|/events/list|}" class="waves-effect waves-primary"><i
                                class="ti-files"></i><span th:text=" #{events.events} "></span></a>
                    </li>
                    <li th:each="template : ${@pluginServiceImpl.getTemplateMenus()}" th:if="${template != null}" th:class="${template['subMenus'] != null ? 'has_sub' : ''}">
                        <a th:if="${template['subMenus'] == null}" th:href="@{|/${template['url']}|}" class="waves-effect waves-primary">
                            <i th:class="${template['cssClass']}"></i><span th:text=" ${template['label']} "></span>
                        </a>

                        <a th:if="${template['subMenus'] != null}" href="javascript:void(0);" class="waves-effect waves-primary">
                            <i th:class="${template['cssClass']}"></i><span th:text=" ${template['label']} "></span><span class="menu-arrow"></span>
                        </a>
                        <ul th:if="${template['subMenus'] != null}" class="list-unstyled">
                            <li th:each="submenu : ${template['subMenus']}"><a th:href="@{|/${submenu['url']}|}" th:text=" ${submenu['label']} "></a></li>
                        </ul>
                    </li>
                </ul>
                <ul sec:authorize="!isAuthenticated()">
                    <li class="menu-title">Main</li>
                    <li>
                        <a th:href="@{|/login|}" class="waves-effect waves-primary"><i
                                class="ti-user"></i><span th:text=" #{crm.login} "></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->

        <th:block th:replace="${body_content}" />
    </div>
</div>

<script>
    var resizefunc = [];
</script>

<!-- Plugins  -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/tether.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/detect.js}"></script>
<script th:src="@{/assets/js/fastclick.js}"></script>
<script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
<script th:src="@{/assets/js/jquery.blockUI.js}"></script>
<script th:src="@{/assets/js/waves.js}"></script>
<script th:src="@{/assets/js/wow.min.js}"></script>
<script th:src="@{/assets/js/jquery.nicescroll.js}"></script>
<script th:src="@{/assets/js/jquery.scrollTo.min.js}"></script>
<script th:src="@{/plugins/switchery/switchery.min.js}"></script>

<th:block th:replace="${scripts}" />

<script th:src="@{/assets/js/jquery.core.js}"></script>
<script th:src="@{/assets/js/jquery.app.js}"></script>

</body>
</html>
