<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Login page</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/signin.css}" rel="stylesheet" />
</head>

<body>

<div class="container">
    <form class="form-signin" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">Custom login page</h2>
        <p>
            <input type="text" name="username" class="form-control" />
        </p>
        <p>
            <input type="password" name="password" class="form-control" />
        </p>
        <input type="submit" value="Sign In" class="btn btn-primary btn-lg btn-block"/>
    </form>
</div>
</body>
</html>
