<form th:action="@{|/parking/barrier/${barrier.gate.id}|}" th:object="${barrier}" method="post">
    <input type="hidden" th:field="*{id}" th:value="*{id}">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ipAddress" class="control-label" th:text="#{barrier.ipAddress}"></label>
                <input type="text" class="form-control" th:field="*{ip}" th:value="*{ip}" id="ipAddress" placeholder="1.1.1.1">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="control-label" th:text="#{barrier.name}"></label>
                <input type="text" class="form-control" id="name" th:field="*{name}" th:value="*{name}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="control-label" th:text="#{barrier.description}"></label>
                <input type="text" class="form-control" id="description" th:field="*{description}" th:value="*{description}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="type" class="control-label" th:text="#{barrier.type}"></label>
                <select th:field="*{barrierType}" th:value="*{barrierType}" class="form-control" id="type">
                    <option th:each="barrierType : ${T(kz.spt.lib.model.Barrier.BarrierType).ALL}"
                            th:value="${barrierType}" th:text="#{'barrier.barrierType.' + ${barrierType}}">
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="password" class="control-label" th:text="#{barrier.password}"></label>
                <input type="text" class="form-control" id="password" th:field="*{password}" th:value="*{password}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="openOid" class="control-label" th:text="#{barrier.openOid}"></label>
                <input type="text" class="form-control" id="openOid" th:field="*{openOid}" th:value="*{openOid}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="closeOid" class="control-label" th:text="#{barrier.closeOid}"></label>
                <input type="text" class="form-control" id="closeOid" th:field="*{closeOid}" th:value="*{closeOid}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="snmpVersion" class="control-label" th:text="#{barrier.snmpVersion}"></label>
                <select th:field="*{snmpVersion}" th:value="*{snmpVersion}" class="form-control" id="snmpVersion">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" th:text="#{crm.close}"></button>
        <button type="submit" class="btn btn-info waves-effect waves-light" th:text="#{crm.saveChanges}"></button>
    </div>
</form>