<form th:action="@{|/parking/barrier/${barrier.gate.id}|}" th:object="${barrier}" method="post">
    <input type="hidden" th:field="*{id}" th:value="*{id}">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ipAddress" class="control-label" th:text="#{barrier.ipAddress}"></label>
                <input type="text" class="form-control" th:field="*{ip}" th:value="*{ip}" id="ipAddress" placeholder="1.1.1.1">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="control-label" th:text="#{barrier.name}"></label>
                <input type="text" class="form-control" id="name" th:field="*{name}" th:value="*{name}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="control-label" th:text="#{barrier.description}"></label>
                <input type="text" class="form-control" id="description" th:field="*{description}" th:value="*{description}">
            </div>
        </div>
    </div>
    <h4 th:text="#{barrier.settings}"></h4>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="type" class="control-label" th:text="#{barrier.type}"></label>
                <select th:field="*{barrierType}" th:value="*{barrierType}" class="form-control" id="type">
                    <option th:each="barrierType : ${T(kz.spt.lib.model.Barrier.BarrierType).ALL}"
                            th:value="${barrierType}" th:text="#{'barrier.barrierType.' + ${barrierType}}">
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="password" class="control-label" th:text="#{barrier.password}"></label>
                <input type="text" class="form-control" id="password" th:field="*{password}" th:value="*{password}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="openOid" class="control-label" th:text="#{barrier.openOid}"></label>
                <input type="text" class="form-control" id="openOid" th:field="*{openOid}" th:value="*{openOid}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="closeOid" class="control-label" th:text="#{barrier.closeOid}"></label>
                <input type="text" class="form-control" id="closeOid" th:field="*{closeOid}" th:value="*{closeOid}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="snmpVersion" class="control-label" th:text="#{barrier.snmpVersion}"></label>
                <select th:field="*{snmpVersion}" th:value="*{snmpVersion}" class="form-control" id="snmpVersion">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="sensorsType" class="control-label" th:text="#{barrier.sensorsType}"></label>
                <select th:field="*{sensorsType}" th:value="*{sensorsType}" class="form-control" id="sensorsType" onchange="changeSensorsBlock()">
                    <option th:each="sensorsType : ${T(kz.spt.lib.model.Barrier.SensorsType).ALL}"
                            th:value="${sensorsType}" th:text="#{'barrier.sensorsType.' + ${sensorsType}}">
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div id="sensorBlock">
        <hr />
        <h4 th:text="#{barrier.loopSettings}"></h4>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="loopIpAddress" class="control-label" th:text="#{barrier.ipAddress}"></label>
                    <input type="text" class="form-control" th:field="*{loopIp}" th:value="*{loopIp}" id="loopIpAddress" placeholder="1.1.1.1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="loopPassword" class="control-label" th:text="#{barrier.password}"></label>
                    <input type="text" class="form-control" id="loopPassword" th:field="*{loopPassword}" th:value="*{loopPassword}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="type" class="control-label" th:text="#{barrier.type}"></label>
                    <select th:field="*{loopType}" th:value="*{loopType}" class="form-control" id="loopType">
                        <option th:each="barrierType : ${T(kz.spt.lib.model.Barrier.BarrierType).ALL}"
                                th:value="${barrierType}" th:text="#{'barrier.barrierType.' + ${barrierType}}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="loopOid" class="control-label" th:text="#{barrier.loopOid}"></label>
                    <input type="text" class="form-control" id="loopOid" th:field="*{loopOid}" th:value="*{loopOid}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="loopSnmpVersion" class="control-label" th:text="#{barrier.snmpVersion}"></label>
                    <select th:field="*{loopSnmpVersion}" th:value="*{loopSnmpVersion}" class="form-control" id="loopSnmpVersion">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
        </div>


        <hr />
        <h4 th:text="#{barrier.photoElementSettings}"></h4>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="photoElementIpAddress" class="control-label" th:text="#{barrier.ipAddress}"></label>
                    <input type="text" class="form-control" th:field="*{photoElementIp}" th:value="*{photoElementIp}" id="photoElementIpAddress" placeholder="1.1.1.1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="photoElementPassword" class="control-label" th:text="#{barrier.password}"></label>
                    <input type="text" class="form-control" id="photoElementPassword" th:field="*{photoElementPassword}" th:value="*{photoElementPassword}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="type" class="control-label" th:text="#{barrier.type}"></label>
                    <select th:field="*{photoElementType}" th:value="*{photoElementType}" class="form-control" id="photoElementType">
                        <option th:each="barrierType : ${T(kz.spt.lib.model.Barrier.BarrierType).ALL}"
                                th:value="${barrierType}" th:text="#{'barrier.barrierType.' + ${barrierType}}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="photoElementOid" class="control-label" th:text="#{barrier.loopOid}"></label>
                    <input type="text" class="form-control" id="photoElementOid" th:field="*{photoElementOid}" th:value="*{photoElementOid}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="loopSnmpVersion" class="control-label" th:text="#{barrier.snmpVersion}"></label>
                    <select th:field="*{photoElementSnmpVersion}" th:value="*{photoElementSnmpVersion}" class="form-control" id="photoElementSnmpVersion">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal" th:text="#{crm.close}"></button>
        <button type="submit" class="btn btn-success waves-effect waves-light" th:text="#{crm.saveChanges}"></button>
    </div>
</form>