<form th:action="@{|/parking/barrier/${barrier.gate.id}|}" th:object="${barrier}" method="post">
    <input type="hidden" th:field="*{id}" th:value="*{id}">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="ipAddress" class="control-label" th:text="#{barrier.ipAddress}"></label>
                <input type="text" class="form-control" th:field="*{ip}" th:value="*{ip}" id="ipAddress" placeholder="1.1.1.1">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="control-label" th:text="#{barrier.name}"></label>
                <input type="text" class="form-control" id="name" th:field="*{name}" th:value="*{name}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="control-label" th:text="#{barrier.description}"></label>
                <input type="text" class="form-control" id="description" th:field="*{description}" th:value="*{description}">
            </div>
        </div>
    </div>
    <h4 th:text="#{barrier.settings}"></h4>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="type" class="control-label" th:text="#{barrier.type}"></label>
                <select th:field="*{barrierType}" th:value="*{barrierType}" class="form-control" id="barrierType" onchange="changeBarrierType()">
                    <option th:each="barrierType : ${T(kz.spt.lib.model.Barrier.BarrierType).ALL}"
                            th:value="${barrierType}" th:text="#{'barrier.barrierType.' + ${barrierType}}">
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-6" id="snmpPassword">
            <div class="form-group">
                <label for="password" class="control-label" th:text="#{barrier.password}"></label>
                <input type="text" class="form-control" id="password" th:field="*{password}" th:value="*{password}">
            </div>
        </div>
    </div>
    <div class="row" id="snmpOpenOidDiv">
        <div class="col-md-12">
            <div class="form-group">
                <label for="openOid" class="control-label" th:text="#{barrier.openOid}"></label>
                <input type="text" class="form-control" id="openOid" th:field="*{openOid}" th:value="*{openOid}">
            </div>
        </div>
    </div>
    <div class="row" id="snmpCloseOidDiv">
        <div class="col-md-12">
            <div class="form-group">
                <label for="closeOid" class="control-label" th:text="#{barrier.closeOid}"></label>
                <input type="text" class="form-control" id="closeOid" th:field="*{closeOid}" th:value="*{closeOid}">
            </div>
        </div>
    </div>
    <div class="row" id="snmpVersionDiv">
        <div class="col-md-6">
            <div class="form-group">
                <label for="snmpVersion" class="control-label" th:text="#{barrier.snmpVersion}"></label>
                <select th:field="*{snmpVersion}" th:value="*{snmpVersion}" class="form-control" id="snmpVersion">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
    </div>

    <div id="modbusBarrierDiv" style="display: none;">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="modbusDeviceVersion" class="control-label" th:text="#{barrier.modbusDeviceVersion}"></label>
                    <select th:field="*{modbusDeviceVersion}" th:value="*{modbusDeviceVersion}" class="form-control" id="modbusDeviceVersion">
                        <option value="110-30">110-30</option>
                        <option value="210-301">210-301</option>
                        <option value="icpdas">icpdas</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="snmpVersion" class="control-label" th:text="#{barrier.modbusOpenRegister}"></label>
                    <input type="number" step="1" min="0" class="form-control" id="modbusOpenRegister" th:field="*{modbusOpenRegister}" th:value="*{modbusOpenRegister}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="snmpVersion" class="control-label" th:text="#{barrier.modbusCloseRegister}"></label>
                    <input type="number" step="1" min="0" class="form-control" id="modbusCloseRegister" th:field="*{modbusCloseRegister}" th:value="*{modbusCloseRegister}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="dontSendZero" class="control-label" th:text="#{barrier.workWithController}"></label>
                    <select th:field="*{dontSendZero}" th:value="*{dontSendZero}" class="form-control" id="dontSendZero">
                        <option value="false" th:text="#{barrier.sendZeroToCancel}">sendZeroToCancel</option>
                        <option value="true" th:text="#{barrier.doNotSendZeroToCancel}"></option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="sensorsType" class="control-label" th:text="#{barrier.sensorsType}"></label>
                <select th:field="*{sensorsType}" th:value="*{sensorsType}" class="form-control" id="sensorsType" onchange="changeSensorsBlock()">
                    <option th:each="sensorsType : ${T(kz.spt.lib.model.Barrier.SensorsType).ALL}"
                            th:value="${sensorsType}" th:text="#{'barrier.sensorsType.' + ${sensorsType}}">
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div id="sensorBlock">
        <hr />
        <h4 th:text="#{barrier.loopSettings}"></h4>
        <div id="loopSnmpDiv" style="display: none;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="loopIpAddress" class="control-label" th:text="#{barrier.ipAddress}"></label>
                        <input type="text" class="form-control" th:field="*{loopIp}" th:value="*{loopIp}" id="loopIpAddress" placeholder="1.1.1.1">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="loopPassword" class="control-label" th:text="#{barrier.password}"></label>
                        <input type="text" class="form-control" id="loopPassword" th:field="*{loopPassword}" th:value="*{loopPassword}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="loopOid" class="control-label" th:text="#{barrier.loopOid}"></label>
                        <input type="text" class="form-control" id="loopOid" th:field="*{loopOid}" th:value="*{loopOid}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="loopSnmpVersion" class="control-label" th:text="#{barrier.snmpVersion}"></label>
                        <select th:field="*{loopSnmpVersion}" th:value="*{loopSnmpVersion}" class="form-control" id="loopSnmpVersion">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="loopDefaultValue" class="control-label" th:text="#{barrier.defaultValue}"></label>
                        <select th:field="*{loopDefaultValue}" th:value="*{loopDefaultValue}" class="form-control" id="loopDefaultValue">
                            <option value="0">0</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="loopModbusDiv" style="display: none;">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="loopModbusRegister" class="control-label" th:text="#{barrier.modbusRegister}"></label>
                    <input type="number" step="1" min="0" max="9999999" class="form-control" id="loopModbusRegister" th:field="*{loopModbusRegister}" th:value="*{loopModbusRegister}">
                </div>
            </div>
        </div>
        <div class="row" id="loopJetsonDiv" style="display: none;">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" th:text="#{barrier.loopOid}"></label>
                    <select type="text" class="form-control" th:field="*{loopJetsonPin}" th:value="*{loopJetsonPin}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
        </div>


        <hr />
        <h4 th:text="#{barrier.photoElementSettings}"></h4>
        <div id="photoElementSnmpDiv" style="display: none;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="photoElementIpAddress" class="control-label" th:text="#{barrier.ipAddress}"></label>
                        <input type="text" class="form-control" th:field="*{photoElementIp}" th:value="*{photoElementIp}" id="photoElementIpAddress" placeholder="1.1.1.1">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="photoElementPassword" class="control-label" th:text="#{barrier.password}"></label>
                        <input type="text" class="form-control" id="photoElementPassword" th:field="*{photoElementPassword}" th:value="*{photoElementPassword}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="photoElementOid" class="control-label" th:text="#{barrier.loopOid}"></label>
                        <input type="text" class="form-control" id="photoElementOid" th:field="*{photoElementOid}" th:value="*{photoElementOid}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="loopSnmpVersion" class="control-label" th:text="#{barrier.snmpVersion}"></label>
                        <select th:field="*{photoElementSnmpVersion}" th:value="*{photoElementSnmpVersion}" class="form-control" id="photoElementSnmpVersion">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="photoElementDefaultValue" class="control-label" th:text="#{barrier.defaultValue}"></label>
                        <select th:field="*{photoElementDefaultValue}" th:value="*{photoElementDefaultValue}" class="form-control" id="photoElementDefaultValue">
                            <option value="0">0</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="photoElementModbusDiv" style="display: none;">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="photoElementModbusRegister" class="control-label" th:text="#{barrier.modbusRegister}"></label>
                    <input type="number" step="1" min="0" max="99999" class="form-control" id="photoElementModbusRegister" th:field="*{photoElementModbusRegister}" th:value="*{photoElementModbusRegister}">
                </div>
            </div>
        </div>
        <div class="row" id="photoElementJetsonDiv">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" th:text="#{barrier.loopOid}"></label>
                    <select type="text" class="form-control" th:field="*{photoElementJetsonPin}" th:value="*{photoElementJetsonPin}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success waves-effect waves-light" th:text="#{crm.saveChanges}"></button>
        <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal" th:text="#{crm.close}"></button>
    </div>
</form>