<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{}, ~{})">

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b th:text="#{crm.changePassword}"></b></h4>
                    <p class="text-muted m-b-30 font-14"></p>

                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <form th:action="@{/change-password}" th:object="${user}" method="post">
                                    <div class="form-group row" th:if="${#fields.hasAnyErrors()}">
                                        <label class="col-2 col-form-label" th:text="#{crm.errors}"></label>
                                        <label class="col-10 col-form-label">
                                            <ul>
                                                <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                                            </ul>
                                        </label>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-2 col-form-label" th:text="#{user.oldPassword}"></label>
                                        <div class="col-10">
                                            <input type="password" th:field="*{oldPassword}" th:value="*{oldPassword}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label" th:text="#{user.newPassword}"></label>
                                        <div class="col-10">
                                            <input type="password" th:field="*{newPassword}" th:value="*{newPassword}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label"></label>
                                        <div class="col-10">
                                            <button class="btn btn-success btn-custom waves-effect waves-light w-md" type="submit" th:text="#{crm.save}"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>