<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="head_nav" class="navbar-custom">

    <ul class="list-inline float-right mb-0">

        <li sec:authorize="isAuthenticated()" class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="false" aria-expanded="false">
                <img th:src="@{/assets/images/users/avatar.jpg}" alt="user" class="rounded-circle">
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                <!-- item-->
                <div class="dropdown-item noti-title">
                    <h5 class="text-overflow"><small>Welcome ! <span sec:authentication="name"></span></small> </h5>
                </div>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="mdi mdi-account-star-variant"></i> <span>Profile</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="mdi mdi-settings"></i> <span>Settings</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="mdi mdi-lock-open"></i> <span>Lock Screen</span>
                </a>

                <!-- item-->
                <a href="/logout" th:href="@{#}" onclick="$('#logout_form').submit();" class="dropdown-item notify-item">
                    <i class="mdi mdi-logout"></i> <span>Logout</span>
                </a>

                <form th:action="@{/logout}" id="logout_form" style="display: none" method="post">
                    <input type="submit" value="Log Out"/>
                </form>
            </div>
        </li>

    </ul>

    <ul class="list-inline menu-left mb-0">

        <!--li class="hide-phone app-search">
            <form role="search" class="">
                <input type="text" placeholder="Search..." class="form-control">
                <a href=""><i class="fa fa-search"></i></a>
            </form>
        </li-->
    </ul>

</nav>

</html>