table.dataTable {
    border-spacing: 0px;
}

.dataTables_wrapper {
    margin-top: 15px;
}

.data-filter{
    padding: 15px;
    background-color: #dfdfdf;
    border-bottom: 2px solid #000;
}

.btn-secondary{
    background-color: #CCC;
    color:#000;
}