<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{::script}, ~{})">

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-4 col-xs-12" th:each="camera, iterStat : ${cameras}">
                <div class="card m-b-10">
                    <div class="card-block">
                        <span class="badge" th:class="${'IN'.equals(camera.gate.gateType.toString()) ? 'badge badge-primary' : 'badge badge-success'}" th:text="${camera.gate.gateType}"></span>
                        <h5 class="mt-0 card-title" th:text="${camera.name}"></h5>
                        <h6 class="card-subtitle text-muted" th:text="${camera.gate.name}"></h6>
                    </div>
                    <img th:id="${'image' + camera.id}" class="img-fluid m-b-10" th:src="@{/assets/images/no_photo.jpeg}" alt="Card image cap">
                    <table class="w-100">
                        <tbody>
                            <tr>
                                <td class="w-50">
                                    <button type="button" class="btn btn-outline-success w-100" th:cameraId="${camera.id}" th:onclick="openGate(this.getAttribute('cameraId'))">Открыть</button>
                                </td>
                                <td class="w-50">
                                    <button type="button" class="btn btn-outline-warning w-100" th:cameraId="${camera.id}" th:onclick="closeGate(this.getAttribute('cameraId'))">Закрыть</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="w-100">
                        <tbody>
                            <tr>
                                <td class="w-50">
                                    <input type="text" th:id="${'plateNumber' + camera.id}" placeholder="Гос.номер" class="form-control w-100">
                                </td>
                                <td class="w-25">
                                    <button type="button" class="btn btn-outline-info w-100" th:cameraId="${camera.id}" th:onclick="passCar(this.getAttribute('cameraId'))" th:text="#{crm.letIn}"></button>
                                </td>
                                <td class="w-25">
                                    <button type="button" class="btn btn-outline-primary w-100" th:cameraId="${camera.id}" th:onclick="checkBalance(this.getAttribute('cameraId'))" th:text="#{crm.balance}"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <textarea class="m-b-10" style="width: 100%" rows="3" th:id="${'logs' + camera.id}"></textarea>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/js/sockjs-client-1.5.1/dist/sockjs.min.js}"></script>
<script th:src="@{/assets/js/stomp.js}"></script>
<script type="text/javascript">
    function connect() {
        var socket = new WebSocket('ws://' + window.location.host + '/greeting');
        ws = Stomp.over(socket);

        ws.connect({}, function(frame) {
            ws.subscribe("/topic", function(message) {
                console.log(message);
                const messageBody = JSON.parse(message.body);
                showGreeting(messageBody);
            });
        }, function(error) {
            console.log("STOMP error " + error);
        });
    }

    function showGreeting(messageBody) {
        if(messageBody.eventType == 'Photo'){
            $("#image" + messageBody.id).attr("src", messageBody.message.indexOf('data:image/jpg;base64,') !== -1 ? messageBody.message : 'data:image/jpg;base64,' + messageBody.message);
        } else if(messageBody.eventType == 'CarEvent') {
            $("#logs" + messageBody.id).append('[' + messageBody.plateNumber + ']' + messageBody.message + "\n");
        } else {
            console.log('Unknown event type ' + messageBody);
        }
    }

    $(function() {
        $("form").on('submit', function(e) {
            e.preventDefault();
        });
        connect();
    });

    function openGate(cameraId){
        $.get("/rest/arm/open/" + cameraId, function (data) {
            console.log(data);
        });
    }

    function closeGate(cameraId){
        $.get("/rest/arm/close/" + cameraId, function (data) {
            console.log(data);
        });
    }

    function passCar(cameraId){
        var plateNumber = $("#plateNumber" + cameraId).val();
        if(plateNumber && plateNumber.length > 2 && plateNumber.length < 17){

        } else {
            alert("Invalid plate number!");
        }
    }

    function checkBalance(cameraId){
        var plateNumber = $("#plateNumber" + cameraId).val();
        if(plateNumber && plateNumber.length > 2 && plateNumber.length < 17){

        } else {
            alert("Invalid plate number!");
        }
    }
</script>
</html>
