<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{::script}, ~{::link})">

<link th:href="@{/assets/css/fancybox.css}" rel="stylesheet" type="text/css"/>
<div class="content">
    <div class="container">
        <th:block sec:authorize="!hasRole('ROLE_RTA')">
            <div class="row mb-1">
                <div class="col-12 text-right">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary move-left" onclick="changeGrid(true)">
                            <span> <i class="mdi mdi-plus"></i></span>
                        </button>
                        <button type="button" class="btn btn-secondary move-right" onclick="changeGrid(false)">
                            <span><i class="mdi mdi-minus"></i></span>
                        </button>
                    </div>
                    <span class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-expanded="false" th:text="#{parking.support}">
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" th:text="#{support.cameraNotWork}"
                               onclick="support(this)"></a>
                            <a class="dropdown-item" href="#" th:text="#{support.barrierNotWork}"
                               onclick="support(this)"></a>
                            <a class="dropdown-item" href="#" th:text="#{support.cvNotWork}"
                               onclick="support(this)"></a>
                        </div>
                    </span>
                    <button type="button" class="btn btn-primary" th:text="#{arm.restart}"
                            th:unless="${#strings.isEmpty(ip)}" th:onclick="restart([[${ip}]])">Restart
                    </button>
                    <button type="button" class="btn btn-primary" th:text="#{arm.configure}" th:onclick="configure()">
                        Configure
                    </button>
                </div>
            </div>
        </th:block>
        <div class="row">
            <div class="item" th:each="camera, iterStat : ${cameras}"
                 th:id="${'item_' + camera.id}"
                 th:attr="data-id=${camera.id},data-url=${camera.snapshotUrl},data-ip=${camera.ip},data-enabled=${camera.snapshotEnabled}">
                <div class="row">
                    <div class="col-4">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary move-left">
                                <span> <i class="mdi mdi-arrow-left"></i></span>
                            </button>
                            <button type="button" class="btn btn-secondary move-right">
                                <span><i class="mdi mdi-arrow-right"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-8">
                        <form class="form-inline" th:action="@{/arm/enable/__${camera.id}__}" method="get">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="snapshotEnabled" th:checked="${camera.snapshotEnabled}" onchange="this.form.submit()">
                                <label class="form-check-label" for="snapshotEnabled" th:text="#{camera.snapshotEnabled}"></label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card m-b-10">
                    <div class="card-block">
                            <span class="badge"
                                  th:class="${'IN'.equals(camera.gate.gateType.toString()) ? 'badge badge-primary' : 'badge badge-success'}"
                                  th:text="${camera.gate.gateType}">
                            </span>
                        <h5 class="mt-0 card-title" th:text="${camera.name}"></h5>
                        <h6 class="card-subtitle text-muted" th:text="${camera.gate.name}"></h6>
                    </div>
                    <div class="row" style="position: relative">
                        <a class="col col--4" th:id="${'fancyImage' + camera.id}" data-fancybox="event"
                           th:data-src="@{#{arm.noImageLink}}" th:data-caption="#{arm.noData}" data-width="1800">
                            <canvas th:id="${'image' + camera.id}" class="img-fluid m-b-10"
                                    style="max-height: 250px !important;"></canvas>
                        </a>
                        <div class="align-content-center p-1"
                             style="background-color: rgba(74, 82, 95, .5); position: absolute; bottom: 0;right: 10px;display: none">
                            <img th:id="${'lp' + camera.id}" width="150" height="50"/>
                        </div>
                    </div>
                    <th:block sec:authorize="!hasRole('ROLE_RTA')">
                        <div class="d-flex flex-md-row flex-sm-column flex-wrap w-100">
                            <!--новая роль - оператор который может открыть без шлагбаум без причин и комментариев -->
                            <div class="p-1 col-sm-12 col-xs-12"
                                 sec:authorize="hasAnyRole('ROLE_OPERATOR_PARQOUR')">
                                <button type="button" class="btn btn-outline-danger w-100"
                                        th:cameraId="${camera.id}"
                                        th:onclick="openGateWOReason(this.getAttribute('cameraId'))"
                                        th:text="#{arm.open.parqour}"></button>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12"
                                 sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERATOR')">
                                <button type="button" class="btn btn-outline-success w-100"
                                        th:cameraId="${camera.id}"
                                        th:onclick="openGate(this.getAttribute('cameraId'))"
                                        th:text="#{arm.open}"></button>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12"
                                 sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERATOR')">
                                <button type="button" class="btn btn-outline-warning w-100"
                                        th:cameraId="${camera.id}"
                                        th:onclick="closeGate(this.getAttribute('cameraId'))"
                                        th:text="#{arm.close}"></button>
                            </div>
                        </div>
                        <div class="d-flex flex-md-row flex-sm-column flex-wrap w-100">
                            <div class="p-1 col-sm-12 col-xs-12"
                                 sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERATOR')">
                                <input type="text" th:id="${'plateNumber' + camera.id}" th:cameraId="${camera.id}"
                                       th:placeholder="#{arm.licensePlate}"
                                       th:onkeydown="onTextEnter(this.getAttribute('cameraId'))"
                                       class="form-control w-100">
                            </div>
                            <div class="p-1 col-sm-12 col-xs-12"
                                 sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERATOR')">
                                <button type="button" class="btn btn-outline-info w-100" th:cameraId="${camera.id}"
                                        th:onclick="passCar(this.getAttribute('cameraId'))"
                                        th:text="#{crm.letIn}"></button>
                            </div>
                            <div class="p-1 col-sm-12 col-xs-12"
                                 sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERATOR')">
                                <button type="button" class="btn btn-outline-primary w-100"
                                        th:cameraId="${camera.id}"
                                        th:onclick="checkBalance(this.getAttribute('cameraId'))"
                                        th:text="#{crm.balance}"></button>
                            </div>
                            <div class="p-1 col-sm-12 col-xs-12"
                                 sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERATOR')">
                                <button type="button" class="btn btn-outline-info w-100" th:cameraId="${camera.id}"
                                        th:onclick="manualEnter(this.getAttribute('cameraId'))"
                                        th:text="#{crm.letInWoBarrier}"></button>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="m-b-10 border border-dark"
                     style="overflow-x:hidden;overflow-y:scroll; width: 100%;max-height: 150px;min-height: 100px;"
                     th:id="${'logs'+camera.id}"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="restartSuccess">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p th:text="#{arm.restartSuccess}"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{crm.close}">Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="openGate" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <input type="hidden" id="reasonCameraId"/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label" th:text="#{arm.openReason}"></label>
                            <select id="openReason" class="form-control" onchange="selectOpenReason()">
                                <option value="" th:text="#{arm.chooseReason}"></option>
                                <option value="emergencyServices" th:text="#{arm.emergencyReason}"></option>
                                <option value="invalidPerson" th:text="#{arm.handicappedReason}"></option>
                                <option value="other" th:text="#{arm.otherReason}"></option>
                            </select>
                            <strong id="openReasonAlert" style="width: 40%"></strong>
                        </div>
                    </div>
                </div>
                <div class="row" id="otherReasonDiv" style="display: none">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label" th:text="#{arm.otherReasonText}"></label>
                            <textarea id="otherReason" rows="4" class="form-control"></textarea>
                            <strong id="otherReasonAlert" style="width: 40%"></strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success waves-effect waves-light" th:text="#{arm.open}"
                        onclick="sendOpenArm()"></button>
                <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal"
                        th:text="#{crm.close}"></button>
            </div>
        </div>
    </div>
</div>

<div id="configure-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" id="configureModalBody">

                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-6">
                        <input type="text" class="form-control" id="newTabName" th:placeholder="#{arm.newTab}">
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary" onclick="addNewTab()"
                                th:text="#{crm.add}"></button>
                    </div>
                </div>
                <div id="cameraTabsAccordion" role="tablist" aria-multiselectable="true" class="m-b-20">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0 mt-0 font-16">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="false" aria-controls="collapseOne" class="collapsed"
                                   th:text="#{arm.camerasWithoutTab}">
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                             aria-expanded="false" style="">
                            <div class="card-block">
                                <table id="cameraTabsTable" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th th:text="#{crm.name}"></th>
                                        <th>Ip</th>
                                        <th th:text="#{whitelist.parking}"></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="save()" th:text="#{crm.save}">Save
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{crm.close}">Close
                </button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/js/sockjs.js}"></script>
<script th:src="@{/assets/js/stomp.js}"></script>
<script th:src="@{/assets/js/fancybox.umd.js}"></script>

<script th:inline="javascript">
    var locale = [[${#locale}]];
    var cameras = {};
    var noImage = new Image();
    var grid = 4;

    jQuery('.move-left').click(function (e) {
        var $div = $(this).closest('.item');
        $div.prev('.item').before($div);
    })

    jQuery('.move-right').click(function (e) {
        var $div = $(this).closest('.item');
        $div.next('.item').after($div);
    })

    var recInterval = null;
    var socket = null;

    function connect() {
        console.log('Web socket initializing');
        socket = new WebSocket((window.location.protocol.indexOf('https') !== -1 ? 'wss' : 'ws') + '://' + window.location.host + '/greeting');
        ws = Stomp.over(socket);

        ws.connect({}, function (frame) {
            console.log('Web socket connecting');
            ws.subscribe("/topic", function (message) {
                const messageBody = JSON.parse(message.body);
                showGreeting(messageBody);
            });
        }, function (error) {
            console.log("STOMP error " + error);
        });

        console.log('Interval clearing');
        clearInterval(recInterval);

        socket.onclose = function () {
            console.log('Web closed');
            socket = null;
            recInterval = setInterval(function () {
                connect();
            }, 2000);
        };
        console.log('##################');
    }

    /*функции для октрытия шлагбаума без причин и комментариев*/
    function sendOpenArmWOReason(){
        let reasonCameraId = $('#reasonCameraId').val();
        let reason = 'оператор Parqour';
        var form = new FormData();
        form.append("cameraId", reasonCameraId);
        form.append("reason", reason);
        form.append("snapshot", cameras[reasonCameraId] && cameras[reasonCameraId].snapshot ? cameras[reasonCameraId].snapshot : null);

        var settings = {
            "url": "/rest/arm/open/barrier",
            "method": "POST",
            "timeout": 0,
            "processData": false,
            "contentType": false,
            "data": form
        };
        $.ajax(settings).done(function (response) {
            $('#openGateWOReason').modal('hide');
            console.log(response);
        });
    }

    function showOpenGateModalWOReason (cameraId) {
        $("#reasonCameraId").val(cameraId);
        sendOpenArmWOReason()
    }

    function openGateWOReason(cameraId) {
        showOpenGateModalWOReason(cameraId);
    }

    function showGreeting(messageBody) {
        const lp = cameras[messageBody.id].lp;
        const logs = cameras[messageBody.id].logs;
        const fancyImage = cameras[messageBody.id].fancyImage;
        const canvas = cameras[messageBody.id].canvas;
        const context = canvas.getContext('2d');

        let logMessage = locale === "en" ? messageBody.messageEng : messageBody.message;
        if (messageBody.eventType == 'Photo') {
            cameras[messageBody.id].snapshot = messageBody.message.indexOf('data:image/jpg;base64,') !== -1 ? messageBody.message : 'data:image/jpg;base64,' + messageBody.message;
            $(fancyImage).attr("data-src", cameras[messageBody.id].snapshot);

            let image = new Image();
            image.src = cameras[messageBody.id].snapshot;
            image.onload = function () {
                canvas.width = image.width + 1;
                canvas.height = image.height + 1;
                context.drawImage(image, 0, 0, image.width, image.height);
                image = null;
            };
        } else if (messageBody.eventType == 'Picture') {
            cameras[messageBody.id].snapshot = messageBody.message.indexOf('data:image/jpg;base64,') !== -1 ? messageBody.message : 'data:image/jpg;base64,' + messageBody.message;
            let image = new Image();
            image.src = cameras[messageBody.id].snapshot;
            image.onload = function () {
                canvas.width = image.width + 1;
                canvas.height = image.height + 1;
                context.drawImage(image, 0, 0, image.width, image.height);
                image = null;
            };
        } else if (messageBody.eventType == 'CarEvent') {
            $(logs).prepend(content(messageBody.eventStatus, '[' + messageBody.plateNumber + ']' + logMessage));
            $(fancyImage).attr("data-caption", messageBody.plateNumber);
        } else if (messageBody.eventType == 'Lp' && !!messageBody.message) {
            $(lp).parent().show();
            $(lp).attr("src", messageBody.message.indexOf('data:image/jpg;base64,') !== -1 ? messageBody.message : 'data:image/jpg;base64,' + messageBody.message);
        } else {
            console.log('Unknown event type ' + JSON.stringify(messageBody));
        }
    }

    function content(eventStatus, text) {
        const p = document.createElement("p");
        p.innerText = text;
        p.style.padding = '0px';
        p.style.marginBottom = '2px';
        p.className = "text-left";
        switch (eventStatus) {
            case "Deny":
            case "Error":
                p.className += " bg-poop";
                p.className += " text-white";
                break;
            case "NotFound":
                p.className += " bg-danger";
                p.className += " text-white";
                break;
            case "Debt":
                p.className += " bg-poop";
                p.className += " text-white";
                break;
            case "Ignoring":
                p.className += " bg-info";
                p.className += " text-white";
                break;
            case "Warning":
                p.className += " bg-purple";
                p.className += " text-white";
                break;
            case "Allow":
            case "Success":
            default:
                p.className += " bg-light";
                p.className += " text-dark";
                break;
        }
        return p;
    }

    $(function () {
        noImage.src = '[[#{arm.noImageLink}]]';
        initGrid();
        setTimeout(connect, 1000);
        setTimeout(enableSnapshot, 1000);
    });

    function initCamera(id) {
        const lp = document.getElementById('lp' + id);
        const logs = document.getElementById('logs' + id);
        const canvas = document.getElementById('image' + id);
        const context = canvas.getContext('2d');
        const fancyImage = document.getElementById('fancyImage' + id);
        cameras[id] = {
            "lp": lp,
            "logs": logs,
            "canvas": canvas,
            "context": context,
            "snapshot": null,
            "fancyImage": fancyImage
        }
    }

    function initGrid() {
        $(".item").each(function () {
            const $input = $(this);
            const id = $input.data("id");
            switch (grid) {
                case 2:
                    $("#item_" + id)
                        .addClass("col-sm-2 col-lg-2 col-xs-2")
                        .removeClass("col-sm-3 col-lg-3 col-xs-3")
                        .removeClass("col-sm-4 col-lg-4 col-xs-4")
                        .removeClass("col-sm-6 col-lg-6 col-xs-6")
                        .removeClass("col-sm-12 col-lg-12 col-xs-12");
                    break;
                case 4:
                    $("#item_" + id)
                        .addClass("col-sm-4 col-lg-4 col-xs-4")
                        .removeClass("col-sm-2 col-lg-2 col-xs-2")
                        .removeClass("col-sm-3 col-lg-3 col-xs-3")
                        .removeClass("col-sm-6 col-lg-6 col-xs-6")
                        .removeClass("col-sm-12 col-lg-12 col-xs-12");
                    break;
                case 3:
                    $("#item_" + id)
                        .addClass("col-sm-3 col-lg-3 col-xs-3")
                        .removeClass("col-sm-2 col-lg-2 col-xs-2")
                        .removeClass("col-sm-4 col-lg-4 col-xs-4")
                        .removeClass("col-sm-6 col-lg-6 col-xs-6")
                        .removeClass("col-sm-12 col-lg-12 col-xs-12");
                    break;
                case 6:
                    $("#item_" + id)
                        .addClass("col-sm-6 col-lg-6 col-xs-6")
                        .removeClass("col-sm-2 col-lg-2 col-xs-2")
                        .removeClass("col-sm-3 col-lg-3 col-xs-3")
                        .removeClass("col-sm-4 col-lg-4 col-xs-4")
                        .removeClass("col-sm-12 col-lg-12 col-xs-12");
                    break;
                case 12:
                    $("#item_" + id)
                        .addClass("col-sm-12 col-lg-12 col-xs-12")
                        .removeClass("col-sm-2 col-lg-2 col-xs-2")
                        .removeClass("col-sm-3 col-lg-3 col-xs-3")
                        .removeClass("col-sm-4 col-lg-4 col-xs-4")
                        .removeClass("col-sm-6 col-lg-6 col-xs-6");
                    break;
            }
        })
    }

    function changeGrid(value) {
        switch (grid) {
            case 2:
                grid = value ? 3 : 2;
                break;
            case 3:
                grid = value ? 4 : 2;
                break;
            case 4:
                grid = value ? 6 : 3;
                break;
            case 6:
                grid = value ? 12 : 4;
                break;
            case 12:
                grid = value ? 12 : 6;
                break;
        }
        initGrid();
    }

    let updateSnapshotOnline = function (camera, ip) {
        let image = new Image();
        const canvas = camera.canvas;
        const context = camera.context;

        image.onload = function () {
            canvas.width = image.width + 1;
            canvas.height = image.height + 1;
            context.drawImage(image, 0, 0, image.width, image.height);

            image = null;
            setTimeout(function () {
                updateSnapshotOnline(camera, ip)
            }, 1000);
        };

        const carImageExtension = ".jpeg";
        image.src = '/files/pictures/' + ip.replaceAll(".", "-") + carImageExtension + "?ver=" + Math.random();

        image.onerror = function () {
            image = null;
            setTimeout(function () {
                updateSnapshotOnline(camera, ip)
            }, 1000);
        };
    };

    function enableSnapshot() {
        $(".item").each(function () {
            const $input = $(this);
            console.log("Enable snapshot",$(this).data("id"));
            const $id = $input.data("id");
            const $url = $input.data("url");
            const $ip = $input.data("ip");
            const $enabled = $input.data("enabled");

            if (!$url) return;
            if (!$enabled) return;
            if (!cameras[$id]) {
                initCamera($id);
            }
            updateSnapshotOnline(cameras[$id], $ip);
        })
    }

    function openGate(cameraId) {
        showOpenGateModal(cameraId);
    }

    function closeGate(cameraId) {
        $.get("/rest/arm/close/" + cameraId, function (data) {
            console.log(data);
        });
    }

    function onTextEnter(cameraId) {
        if (event.keyCode === 13) {
            passCar(cameraId);
        }
    }

    function passCar(cameraId) {
        var plateNumber = $("#plateNumber" + cameraId).val();
        if (!/^[a-zA-Z0-9]+$/.test(plateNumber)) {
            console.log(cameras);
            const logs = cameras[cameraId].logs;
            $(logs).prepend(content("Error", '[' + plateNumber + ']' + [[#{crm.onlyLatinAndNumbersAllowed}]]));
        } else if (plateNumber && plateNumber.length > 2 && plateNumber.length < 17) {
            var form = new FormData();
            form.append("cameraId", cameraId);
            form.append("platenumber", plateNumber);
            form.append("snapshot", cameras[cameraId] && cameras[cameraId].snapshot ? cameras[cameraId].snapshot : null);

            var settings = {
                "url": "/rest/arm/pass",
                "method": "POST",
                "timeout": 0,
                "processData": false,
                "contentType": false,
                "data": form
            };
            $.ajax(settings).done(function (response) {
                console.log(response);
            });
        } else {
            const logs = cameras[cameraId].logs;
            $(logs).prepend(content("Error", '[' + plateNumber + ']' + [[#{arm.invalidPlateNumber}]]));
        }
    }

    function manualEnter(cameraId) {
        const plateNumber = $("#plateNumber" + cameraId).val();
        if (!/^[a-zA-Z0-9]+$/.test(plateNumber)) {
            console.log(cameras);
            const logs = cameras[cameraId].logs;
            $(logs).prepend(content("Error", '[' + plateNumber + ']' + [[#{crm.onlyLatinAndNumbersAllowed}]]));
        } else if (plateNumber && plateNumber.length > 2 && plateNumber.length < 17) {
            const settings = {
                "url": "/rest/arm/enter/",
                "method": "POST",
                "data": {'cameraId': cameraId, 'plateNumber': plateNumber}
            };
            $.ajax(settings).done(function (response) {
                console.log(response);
            });
        } else {
            const logs = cameras[cameraId].logs;
            $(logs).prepend(content("Error", '[' + plateNumber + ']' + [[#{arm.invalidPlateNumber}]]));
        }
    }

    function checkBalance(cameraId) {
        var plateNumber = $("#plateNumber" + cameraId).val();

        if (!/^[a-zA-Z0-9]+$/.test(plateNumber)) {
            const logs = cameras[cameraId].logs;
            $(logs).prepend(content("Error", '[' + plateNumber + ']' + [[#{crm.onlyLatinAndNumbersAllowed}]]));
        } else if (plateNumber && plateNumber.length > 2 && plateNumber.length < 17) {
            $.get("/rest/balance/check/" + plateNumber, function (data) {
                const logs = cameras[cameraId].logs;
                $(logs).prepend(content("Success", '[' + plateNumber + ']' + [[#{arm.balanceEqual}]] + data));
            });
        } else {
            const logs = cameras[cameraId].logs;
            $(logs).prepend(content("Error", '[' + plateNumber + ']' + [[#{arm.invalidPlateNumber}]]));
        }
    }

    function restart(ip) {
        $.get("/rest/arm/restart/" + ip, function (data) {
            if (data === true) {
                $('#restartSuccess').modal('show');
            }
        });
    }

    function support(e) {
        const text = $(e).text();
        let request = {
            "subject": text,
            "message": text,
        };
        $.ajax({
            "url": "/rest/mail/send",
            "type": "POST",
            "data": JSON.stringify(request),
            "contentType": "application/json; charset=utf-8",
            "dataType": "json",
        });
    }

    $(document).on('ready', function () {
        $(".item").each(function () {
            const $input = $(this);
            const id = $input.data("id");
            initCamera(id);
        });
    });

    let tabs = [];
    let maxId = 0;
    let maxIdIncrement = 0;
    let moveOptions = "<option value=''></option>";

    const armMove = [[#{arm.move}]];
    const crmName = [[#{crm.name}]];
    const parkingName = [[#{whitelist.parking}]];
    const startTime = [[#{camera.startTime}]];
    const endTime = [[#{camera.endTime}]];
    const timeUnavailable = [[#{camera.intervalTimeUnavailable}]];

    const crmDelete = [[#{crm.delete}]];

    function configure() {
        tabs = [];
        maxId = 0;
        const canEdit = [[${canEdit}]];
        maxIdIncrement = 0;
        moveOptions = "<option value=''></option>";
        $.get("/rest/arm/tab/camera", function (data) {
            tabs = data;
            for (let i = 0; i < data.length; i++) {
                if (data[i].id > 0) {
                    moveOptions = moveOptions + "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
                }
                maxIdIncrement = maxId = maxId < data[i].id ? data[i].id : maxId;
            }
            let html = "";
            for (let i = 0; i < data.length; i++) {
                html = html + "<div class='card' id='card" + data[i].id + "' name='" + data[i].name + "'><div class='card-header' role='tab' id='headingOne" + data[i].id + "'>\n" +
                    "                            <h5 class='mb-0 mt-0 font-16'>\n" +
                    "                                <a data-toggle='collapse' data-parent='#cameraTabsAccordion' href='#collapseOne" + data[i].id + "' aria-expanded='false' aria-controls='collapseOne" + data[i].id + "' class='collapsed'>\n" +
                    "                                    " + data[i].name +
                    "                                </a>\n";
                if (data[i].id > 0) {
                    html = html +
                        "                                   <button type='button' className='btn btn-secondary' onClick='removeTab(" + data[i].id + ",\"" + data[i].name + "\")'>" + crmDelete +
                        "                                   </button>\n";
                }
                html = html +
                    "                            </h5>\n" +
                    "                        </div><div id='collapseOne" + data[i].id + "' class='collapse' role='tabpanel' aria-labelledby='headingOne" + data[i].id + "' aria-expanded='false' style=''>\n" +
                    "                            <div class='card-block'>" +
                    "                                 <table id='cameraTabsTable" + data[i].id + "' class='table table-bordered'>\n" +
                    "                                    <thead>\n" +
                    "                                    <tr>\n" +
                    "                                        <th>" + armMove + "</th>\n" +
                    "                                        <th>" + crmName + "</th>\n" +
                    "                                        <th>Ip</th>\n" +
                    "                                        <th>" + parkingName + "</th>\n" +
                    "                                        <th>" + startTime + "</th>\n" +
                    "                                        <th>" + endTime + "</th>\n" +
                    "                                        <th></th>\n" +
                    "                                    </tr>\n" +
                    "                                    </thead><tbody>";
                for (let j = 0; j < data[i].cameras.length; j++) {
                    let starTime =  data[i].cameras[j].startTime== "null" ? "": data[i].cameras[j].startTime;
                    let endTime =  data[i].cameras[j].endTime== "null" ? "": data[i].cameras[j].endTime;
                    html = html + "<tr id='camera" + data[i].cameras[j].id + "'><td><select id='cameraSelect" + data[i].cameras[j].id + "' onchange='moveCameraToTab(" + data[i].cameras[j].id + ")'>" + moveOptions + "</select></td>\n" +
                        "          <td>" + data[i].cameras[j].name + "</td>\n" +
                        "          <td>" + data[i].cameras[j].ip + "</td>\n" +
                        "          <td>" + data[i].cameras[j].parking + "</td>\n" +
                        "          <td>" + starTime + "</td>\n" +
                        "          <td>" + endTime + "</td>";

                    if(canEdit) html  += "<td><a href=\"/arm/edit/timeUnavailable/"+data[i].cameras[j].id+"\" <i class=\"ion-edit\"></i></a></td>";

                    html += "</tr>\n";


                }
                html = html + "</tbody></table>\n" +
                    "                            </div>\n" +
                    "                        </div>\n" +
                    "                    </div>";
                $('#cameraTabsAccordion').html(html);
            }
        });
        $('#configure-modal').modal('show');
    }

    function addNewTab() {
        let newTabName = $('#newTabName').val();

        maxIdIncrement++;

        $('#cameraTabsAccordion').append("<div class='card' id='card" + maxIdIncrement + "' name='" + newTabName + "'><div class='card-header' role='tab' id='headingOne" + maxIdIncrement + "'>\n" +
            "                            <h5 class='mb-0 mt-0 font-16'>\n" +
            "                                <a data-toggle='collapse' data-parent='#cameraTabsAccordion' href='#collapseOne" + maxIdIncrement + "' aria-expanded='false' aria-controls='collapseOne" + maxIdIncrement + "' class='collapsed'>\n" +
            "                                    " + newTabName +
            "                                </a>\n" +
            "                                   <button type='button' className='btn btn-secondary' onClick='removeTab(" + maxIdIncrement + ",\"" + newTabName + "\")'>" + crmDelete +
            "                                   </button>\n" +
            "                            </h5>\n" +
            "                        </div><div id='collapseOne" + maxIdIncrement + "' class='collapse' role='tabpanel' aria-labelledby='headingOne" + maxIdIncrement + "' aria-expanded='false' style=''>\n" +
            "                            <div class='card-block'><table id='cameraTabsTable" + maxIdIncrement + "' class='table table-bordered'>\n" +
            "                                    <thead>\n" +
            "                                    <tr>\n" +
            "                                        <th>" + armMove + "</th>\n" +
            "                                        <th>" + crmName + "</th>\n" +
            "                                        <th>Ip</th>\n" +
            "                                        <th>" + parkingName + "</th>\n" +
            "                                    </tr>\n" +
            "                                    </thead><tbody></tbody></table>\n" +
            "                            </div>\n" +
            "                        </div>\n" +
            "                    </div>");

        $('#newTabName').val(undefined);
        moveOptions = moveOptions + "<option value='" + maxIdIncrement + "'>" + newTabName + "</option>";
        $('#cameraTabsAccordion').find('select').html(moveOptions);
    }

    function moveCameraToTab(cameraId) {
        let tr = $('#camera' + cameraId);
        let newTabId = $('#cameraSelect' + cameraId).val();
        $('#cameraTabsAccordion').find('#card' + newTabId).find('table>tbody').append(tr);
        $('#element').remove();
    }

    function removeTab(tabId, tabName) {
        let trList = $('#cameraTabsAccordion').find('#card' + tabId).find('table>tbody>tr');
        $('#cameraTabsAccordion').find('#card0').find('table>tbody').append(trList);
        $("#card" + tabId).remove();
        moveOptions = moveOptions.replace("<option value='" + tabId + "'>" + tabName + "</option>", "");
        $('#cameraTabsAccordion').find('select').html(moveOptions);
    }

    function save() {
        let result = [];
        let cardList = $('#cameraTabsAccordion').find('.card');

        $("#cameraTabsAccordion>.card").each(function (index) {
            let card = $(this);
            let tab = {
                id: card.attr("id").replace('card', ''),
                name: card.attr("name")
            };

            let cameraArray = [];
            $('#cameraTabsAccordion>#' + card.attr("id") + '>div>div>table>tbody>tr').each(function (index) {
                let camera = {id: $(this).attr('id').replace('camera', '')};
                cameraArray.push(camera);
            });
            tab.cameraArray = cameraArray;
            result.push(tab);
        });

        var form = new FormData();
        form.append("json", JSON.stringify(result));

        var settings = {
            "url": "/rest/arm/save/tab/camera",
            "method": "POST",
            "timeout": 0,
            "processData": false,
            "contentType": false,
            "data": form
        };
        $.ajax(settings).done(function (response) {
            window.location.reload();
        });
    }

    function showOpenGateModal(cameraId) {
        $("#reasonCameraId").val(cameraId);
        $("#openReason").val(undefined);
        $("#otherReason").val(undefined);
        $("#openGate").modal('show');
    }

    function selectOpenReason() {
        let selectOpenReason = $('#openReason').val();
        if (selectOpenReason === 'other') {
            $('#otherReasonDiv').show();
        } else {
            $('#otherReasonDiv').hide();
        }
    }

    function sendOpenArm() {
        let reasonCameraId = $('#reasonCameraId').val();
        let openReason = $('#openReason').val();
        $('#openReasonAlert').text('');
        $('#otherReasonAlert').text('');

        if (openReason) {
            let reason = undefined;
            if (openReason == "emergencyServices") {
                reason = 'Экстренные службы (служба пожаротушения, полиция, скорая медицинская помощь, аварийная служба газа)';
            } else if (openReason == "invalidPerson") {
                reason = 'Человек с ограниченными возможностями';
            } else {
                let otherReason = $('#otherReason').val();
                if (otherReason && otherReason.length >= 3) {
                    reason = otherReason;
                } else {
                    $('#otherReasonAlert').text('Необходимо написать причину!');
                    $('#otherReasonAlert').css("background-color", "#ef5350");
                    $('#otherReasonAlert').css("color", "white");
                    return;
                }
            }

            var form = new FormData();
            form.append("cameraId", reasonCameraId);
            form.append("reason", reason);
            form.append("snapshot", cameras[reasonCameraId] && cameras[reasonCameraId].snapshot ? cameras[reasonCameraId].snapshot : null);

            var settings = {
                "url": "/rest/arm/open/barrier",
                "method": "POST",
                "timeout": 0,
                "processData": false,
                "contentType": false,
                "data": form
            };
            $.ajax(settings).done(function (response) {
                $('#openGate').modal('hide');
                console.log(response);
            });
        } else {
            $('#openReasonAlert').text('Необходимо выбрать причину!');
            $('#openReasonAlert').css("background-color", "#ef5350");
            $('#openReasonAlert').css("color", "white");
        }
    }
</script>
</html>