<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{::script}, ~{::link})">

<link th:href="@{/assets/css/fancybox.css}" rel="stylesheet" type="text/css"/>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-4 col-xs-12" th:each="camera, iterStat : ${cameras}">
                <div class="card m-b-10">
                    <div class="card-block">
                        <span class="badge" th:class="${'IN'.equals(camera.gate.gateType.toString()) ? 'badge badge-primary' : 'badge badge-success'}" th:text="${camera.gate.gateType}"></span>
                        <h5 class="mt-0 card-title" th:text="${camera.name}"></h5>
                        <h6 class="card-subtitle text-muted" th:text="${camera.gate.name}"></h6>
                    </div>
                    <a class="col col--4" th:id="${'fancyImage' + camera.id}" data-fancybox="event" th:data-src="@{#{arm.noImageLink}}" th:data-caption="#{arm.noData}">
                        <img th:id="${'image' + camera.id}" class="img-fluid m-b-10" th:src="@{#{arm.noImageLink}}" alt="Card image cap">
                    </a>
                    <table class="w-100">
                        <tbody>
                            <tr>
                                <td class="w-50" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUPERADMIN')">
                                    <button type="button" class="btn btn-outline-success w-100" th:cameraId="${camera.id}" th:onclick="openGate(this.getAttribute('cameraId'))" th:text="#{arm.open}"></button>
                                </td>
                                <td class="w-50" sec:authorize="!hasAnyRole('ROLE_ADMIN','ROLE_SUPERADMIN')">
                                    <button type="button" class="btn btn-outline-success w-100" th:cameraId="${camera.id}" th:text="#{arm.open}" disabled="disabled"></button>
                                </td>
                                <td class="w-50">
                                    <button type="button" class="btn btn-outline-warning w-100" th:cameraId="${camera.id}" th:onclick="closeGate(this.getAttribute('cameraId'))" th:text="#{arm.close}"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="w-100">
                        <tbody>
                            <tr>
                                <td class="w-50">
                                    <input type="text" th:id="${'plateNumber' + camera.id}" th:placeholder="#{arm.licensePlate}" class="form-control w-100">
                                </td>
                                <td class="w-25">
                                    <button type="button" class="btn btn-outline-info w-100" th:cameraId="${camera.id}" th:onclick="passCar(this.getAttribute('cameraId'))" th:text="#{crm.letIn}"></button>
                                </td>
                                <td class="w-25">
                                    <button type="button" class="btn btn-outline-primary w-100" th:cameraId="${camera.id}" th:onclick="checkBalance(this.getAttribute('cameraId'))" th:text="#{crm.balance}"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <textarea class="m-b-10" style="width: 100%" rows="3" th:id="${'logs' + camera.id}"></textarea>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/js/sockjs.js}"></script>
<script th:src="@{/assets/js/stomp.js}"></script>
<script th:src="@{/assets/js/fancybox.umd.js}"></script>

<script th:inline="javascript">
    function connect() {
        var socket = new WebSocket((window.location.protocol.indexOf('https') !== -1 ? 'wss' : 'ws') + '://' + window.location.host + '/greeting');
        ws = Stomp.over(socket);

        ws.connect({}, function(frame) {
            ws.subscribe("/topic", function(message) {
                console.log(message);
                const messageBody = JSON.parse(message.body);
                showGreeting(messageBody);
            });
        }, function(error) {
            console.log("STOMP error " + error);
        });
    }

    function showGreeting(messageBody) {
        if(messageBody.eventType == 'Photo'){
            $("#image" + messageBody.id).attr("src", messageBody.message.indexOf('data:image/jpg;base64,') !== -1 ? messageBody.message : 'data:image/jpg;base64,' + messageBody.message);
            $("#fancyImage" + messageBody.id).attr("data-src", messageBody.message.indexOf('data:image/jpg;base64,') !== -1 ? messageBody.message : 'data:image/jpg;base64,' + messageBody.message);
        } else if(messageBody.eventType == 'CarEvent') {
            $("#logs" + messageBody.id).prepend('[' + messageBody.plateNumber + ']' + messageBody.message + "\n");
            $("#fancyImage" + messageBody.id).attr("data-caption", messageBody.plateNumber);
        } else {
            console.log('Unknown event type ' + messageBody);
        }
    }

    $(function() {
        $("form").on('submit', function(e) {
            e.preventDefault();
        });
        connect();
    });

    function openGate(cameraId){
        $.get("/rest/arm/open/" + cameraId, function (data) {
            console.log(data);
        });
    }

    function closeGate(cameraId){
        $.get("/rest/arm/close/" + cameraId, function (data) {
            console.log(data);
        });
    }

    function passCar(cameraId){
        var plateNumber = $("#plateNumber" + cameraId).val();
        if(plateNumber && plateNumber.length > 2 && plateNumber.length < 17){
            $.get("/rest/arm/pass/" + cameraId + "/platenumber/" + plateNumber, function (data) {
                console.log(data);
            });
        } else {
            alert("Invalid plate number!");
        }
    }

    function checkBalance(cameraId){
        var plateNumber = $("#plateNumber" + cameraId).val();
        if(plateNumber && plateNumber.length > 2 && plateNumber.length < 17){
            $.get("/rest/balance/check/" + plateNumber, function (data) {
                alert("Баланс равен " + data);
            });
        } else {
            alert("Invalid plate number!");
        }
    }
</script>
</html>
