<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{}, ~{})">


<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b>Edit contract form</b></h4>
                    <p class="text-muted m-b-30 font-14"></p>

                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <form th:action="@{|/contract/edit/${contract.id}|}" th:object="${contract}" method="post">
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Name</label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" th:field="*{name}" th:value="*{name}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Content</label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" th:field="*{content}" th:value="*{content}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Value</label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" th:field="*{value}" th:value="*{value}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Begin Date</label>
                                        <div class="col-10">
                                            <input type="date" class="form-control" th:field="*{beginDate}" th:value="*{beginDate}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">End date</label>
                                        <div class="col-10">
                                            <input type="date" class="form-control" th:field="*{endDate}" th:value="*{endDate}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Status</label>
                                        <div class="col-10">
                                            <select th:field="*{status}" class="form-control">
                                                <option th:each="status : ${T(crm.entity.Status).ALL}"
                                                        th:value="${status}" th:text="${status}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Customer id</label>
                                        <div class="col-10">
                                            <input type="number" class="form-control" th:field="*{customer.id}" th:value="*{customer.id}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">User id</label>
                                        <div class="col-10">
                                            <input type="number" class="form-control" th:field="*{user.id}" th:value="*{user.id}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label"></label>
                                        <div class="col-10">
                                            <button type="submit" class="btn btn-danger waves-effect waves-light">Edit Contract</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
