<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{::script}, ~{})" xmlns="http://www.w3.org/1999/html">


<div class="content">
    <div class="container">
        <div class="card table-responsive table-striped">
            <div class="card-header" th:text="#{dashboard.income}"></div>
            <div class="card-body">
                <div class="col-lg-4">
                    <div class="btn-group m-b-10">
                        <button id="year" type="button" class="btn btn-primary waves-effect" onclick="setType('year')" th:text="#{dashboard.years}">Years</button>
                        <button id="month" type="button" class="btn btn-secondary waves-effect" onclick="setType('month')" th:text="#{dashboard.months}">Months</button>
                        <button id="week" type="button" class="btn btn-secondary waves-effect" onclick="setType('week')" th:text="#{dashboard.weeks}">Weeks</button>
                        <button id="day" type="button" class="btn btn-secondary waves-effect" onclick="setType('day')" th:text="#{dashboard.day}">Days</button>
                        <button id="period" type="button" class="btn btn-secondary waves-effect" onclick="setType('period')" th:text="#{dashboard.period}">Period</button>
                    </div>
                </div>
                <div class="col-lg-4" id="fromDateBlock" style="display: none;">
                    <label th:text="#{events.dateFrom}"></label>
                    <input type="date" id="fromDate" class="form-control filter" onchange="dateChanged()">
                </div>
                <div class="col-lg-4" id="toDateBlock" style="display: none;">
                    <label th:text="#{events.dateTo}"></label>
                    <input type="date" id="toDate" class="form-control filter" onchange="dateChanged()">
                </div>
                <div class="col-lg-12">
                    <div class="card-box">
                        <canvas id="providersSumBarChart" width="400" height="400"></canvas>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card-box">
                        <canvas id="providersCountBarChart" width="400" height="400"></canvas>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="btn-group m-b-10">
                        <button id="yearProvider" type="button" class="btn btn-primary waves-effect" onclick="setProviderType('year')" th:text="#{dashboard.years}">Years</button>
                        <button id="monthProvider" type="button" class="btn btn-secondary waves-effect" onclick="setProviderType('month')" th:text="#{dashboard.months}">Months</button>
                        <button id="weekProvider" type="button" class="btn btn-secondary waves-effect" onclick="setProviderType('week')" th:text="#{dashboard.weeks}">Weeks</button>
                        <button id="dayProvider" type="button" class="btn btn-secondary waves-effect" onclick="setProviderType('day')" th:text="#{dashboard.day}">Days</button>
                        <button id="periodProvider" type="button" class="btn btn-secondary waves-effect" onclick="setProviderType('period')" th:text="#{dashboard.period}">Period</button>
                    </div>
                </div>
                <div class="col-lg-4" id="providerFromDateBlock" style="display: none;">
                    <label th:text="#{events.dateFrom}"></label>
                    <input type="date" id="providerFromDate" class="form-control filter" onchange="providerDateChanged()">
                </div>
                <div class="col-lg-4" id="providerToDateBlock" style="display: none;">
                    <label th:text="#{events.dateTo}"></label>
                    <input type="date" id="providerToDate" class="form-control filter" onchange="providerDateChanged()">
                </div>

                <div class="col-lg-12">
                    <div class="card-box">
                        <canvas id="occupancyAndMoneyByPeriodLineChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/plugins/chart.js/dist/chart.js}"></script>

<script type="text/javascript" th:inline="javascript">

    let type = "year";
    let typeProvider = "year";

    var locale = [[${#locale}]];

    const monthLabels  = {
        '01': {'ru':'Январь','en':'January', 'de':'Januar'},
        '02': {'ru':'Февраль','en':'February', 'de':'Februar'},
        '03': {'ru':'Март','en':'March', 'de':'März'},
        '04': {'ru':'Апрель','en':'April', 'de':'April'},
        '05': {'ru':'Май','en':'May', 'de':'Mai'},
        '06': {'ru':'Июнь','en':'June', 'de':'Juni'},
        '07': {'ru':'Июль','en':'July', 'de':'Juli'},
        '08': {'ru':'Август','en':'August', 'de':'August'},
        '09': {'ru':'Сентябрь','en':'September', 'de':'September'},
        '10': {'ru':'Октябрь','en':'October', 'de':'Oktober'},
        '11': {'ru':'Декабрь','en':'November', 'de':'November'},
        '12': {'ru':'Январь','en':'December', 'de':'Dezember'}
    }

    const colors = [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(75, 192, 192)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(153, 102, 255)',
        'rgb(201, 203, 207)',
        'rgb(255, 255, 64)',
    ];

    let providersSumBarChart = undefined;
    let providersCountBarChart = undefined;
    let occupancyAndMoneyByPeriodLineChart = undefined;

    $(document).on('ready',function(){
        drawProvidersSumBarChart();
        drawProvidersCountBarChart();
        drawOccupancyAndMoneyByPeriodLineChart();
    });

    function drawProvidersSumBarChart(){
        let form = new FormData();
        form.append("type", type);
        form.append("from", $("#fromDate").val());
        form.append("to", $("#toDate").val());

        let settings = {
            "url": "/rest/dashboard/count/incomeByProviders",
            "method": "POST",
            "timeout": 0,
            "processData": false,
            "contentType": false,
            "data": form
        };
        $.ajax(settings).done(function (result) {
            const xIndexes = getXIndexes(result);
            const data = {
                labels: type == 'year' ? getMonthLabels(xIndexes) : xIndexes,
                datasets: getProvidersSumBarChartDataset(result, xIndexes)
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: locale=="de" ? 'Einkommen nach Anbietern': 'Income by providers'
                        },
                    },
                    responsive: true,
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true
                        }
                    }
                }
            };

            if(providersSumBarChart){
                providersSumBarChart.destroy();
            }

            providersSumBarChart = new Chart(
                document.getElementById('providersSumBarChart'),
                config
            );
        });
    }

    function drawProvidersCountBarChart(){
        let form = new FormData();
        form.append("type", type);
        form.append("from", $("#fromDate").val());
        form.append("to", $("#toDate").val());

        let settings = {
            "url": "/rest/dashboard/count/countPaymentsByProviders",
            "method": "POST",
            "timeout": 0,
            "processData": false,
            "contentType": false,
            "data": form
        };
        $.ajax(settings).done(function (result) {
            const xIndexes = getXIndexes(result);
            const data = {
                labels: type == 'year' ? getMonthLabels(xIndexes) : xIndexes,
                datasets: getProvidersSumBarChartDataset(result, xIndexes)
            };

            const config = {
                type: 'bar',
                data: data,
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: locale=="de"? 'Anzahl der Transaktionen nach Anbietern':'Number of Transactions by Providers'
                        },
                    },
                    responsive: true,
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true
                        }
                    }
                }
            };

            if(providersCountBarChart){
                providersCountBarChart.destroy();
            }

            providersCountBarChart = new Chart(
                document.getElementById('providersCountBarChart'),
                config
            );
        });
    }

    function getXIndexes(result){
        let indexArray = [];
        if(result){
            for (let i = 0; i < result.length; i++) {
                if(indexArray.indexOf(result[i][0]) == -1){
                    indexArray.push(result[i][0]);
                }
            }
        }
        return indexArray;
    }

    function getProvidersSumBarChartDataset(result, xIndexes){
        let resultObject = {};
        if (result){
            for (let i = 0; i < result.length; i++) {
                if(!resultObject[result[i][1]]){
                    resultObject[result[i][1]] = {};
                }
                resultObject[result[i][1]][result[i][0]] = {value: result[i][2]};
            }
        }
        let dataset = [];
        let counter = 0;
        for (const key in resultObject) {
            let datasetObj = {
                label: key,
                data: [],
                backgroundColor: colors[counter++]
            };
            for (let i = 0; i < xIndexes.length; i++) {
                if(resultObject[key][xIndexes[i]]){
                    datasetObj.data.push(resultObject[key][xIndexes[i]].value);
                } else{
                    datasetObj.data.push(0);
                }
            }
            dataset.push(datasetObj);
        }

        return dataset;
    }

    function getMonthLabels(months){
        let monthLabelList = [];
        for (let i = 0; i < months.length; i++) {
            monthLabelList.push(monthLabels[months[i]].en);
        }
        return monthLabelList;
    }

    function setType(val){
        $('#'+type).removeClass("btn-primary");
        $('#'+type).addClass("btn-secondary");
        type = val;
        $('#'+val).addClass("btn-primary");
        $('#'+val).removeClass("btn-secondary");
        if(type == 'period'){
            $("#fromDateBlock").show();
            $("#toDateBlock").show();
            if($("#fromDate").val() && $("#toDate").val()){
                drawProvidersSumBarChart();
                drawProvidersCountBarChart();
            }
        } else {
            $("#fromDateBlock").hide();
            $("#toDateBlock").hide();
            drawProvidersSumBarChart();
            drawProvidersCountBarChart();
        }
    }

    function dateChanged(){
        if(type == 'period'){
            if($("#fromDate").val() && $("#toDate").val()){
                drawProvidersSumBarChart();
                drawProvidersCountBarChart();
            }
        } else {
            drawProvidersSumBarChart();
            drawProvidersCountBarChart();
        }
    }

    let leftTypes = {
        paymentRecords:'Left by payment',
        abonementRecords: 'Left by subscriptions',
        autoClosedRecords: 'Closed by system',
        debtRecords: 'Left by debt',
        freeMinuteRecords: 'Left by free minutes',
        fromBalanceRecords: 'Left by balance',
        thirdPartyRecords: 'Left by third Mega Family application',
        whitelistRecords: 'Left by free permit'
    }
    let leftTypesDe={
        paymentRecords:'Verlassen durch Zahlung',
        abonementRecords: 'Verlassen durch Abonnements',
        autoClosedRecords: 'Geschlossen durch System',
        debtRecords: 'Verlassen durch Schulden',
        freeMinuteRecords: 'Verlassen durch Freiminuten',
        fromBalanceRecords: 'Verlassen durch Saldo',
        thirdPartyRecords: 'Verlassen durch dritte Mega Family Anwendung',
        whitelistRecords: 'Verlassen durch freie Erlaubnis'
    }
    if(locale == "de")
        leftTypes = leftTypesDe

    function drawOccupancyAndMoneyByPeriodLineChart(){
        let form = new FormData();
        form.append("type", typeProvider);
        form.append("from", $("#providerFromDate").val());
        form.append("to", $("#providerToDate").val());

        let settings = {
            "url": "/rest/dashboard/count/occupancyAndMoneyByPeriod",
            "method": "POST",
            "timeout": 0,
            "processData": false,
            "contentType": false,
            "data": form
        };
        $.ajax(settings).done(function (result) {
            console.log(result);

            const labels = [];

            let colorsCounter = 0;
            let datasetContainer = {};
            for(let i = 0; i < result.length; i++){
                if(result[i][1] !== 'records' && result[i][1] !== 'thirdPartyRecords'){
                    if(labels.indexOf(result[i][0]) === -1){
                        labels.push(result[i][0]);
                    }
                    if(!datasetContainer[result[i][1]]){
                        datasetContainer[result[i][1]] = {
                            label: leftTypes[result[i][1]],
                            data: [result[i][2]],
                            yAxisID: 'y',
                            borderColor: colors[colorsCounter++]
                        }
                    } else {
                        datasetContainer[result[i][1]].data.push([result[i][2]]);
                    }
                    if(colorsCounter === 8){
                        colorsCounter = 0;
                    }
                }
            }
            const datasets = [];

            for(let key in datasetContainer){
                datasets.push(datasetContainer[key]);
            }

            const data = {
                labels: labels,
                datasets: datasets
            };

            const config = {
                type: 'line',
                data: data,
                options: {
                    responsive: true,
                    interaction: {
                        mode: 'index',
                        intersect: false,
                    },
                    stacked: false,
                    plugins: {
                        title: {
                            display: true,
                            text: locale=="de" ? 'Belegung und Geld' : 'Occupancy and Money'
                        }
                    },
                    scales: {
                        y: {
                            type: 'linear',
                            display: true,
                            position: 'left',

                            // grid line settings
                            grid: {
                                drawOnChartArea: false, // only want the grid lines for one axis to show up
                            },
                            min: 0
                        },
                    }
                },
            };

            if(occupancyAndMoneyByPeriodLineChart){
                occupancyAndMoneyByPeriodLineChart.destroy();
            }

            occupancyAndMoneyByPeriodLineChart = new Chart(
                document.getElementById('occupancyAndMoneyByPeriodLineChart'),
                config
            );
        });
    }

    function setProviderType(val){
        $('#'+typeProvider + 'Provider').removeClass("btn-primary");
        $('#'+typeProvider + 'Provider').addClass("btn-secondary");
        typeProvider = val;
        $('#'+val + 'Provider').addClass("btn-primary");
        $('#'+val + 'Provider').removeClass("btn-secondary");
        if(typeProvider == 'period'){
            $("#providerFromDateBlock").show();
            $("#providerToDateBlock").show();
            if($("#providerFromDate").val() && $("#providerToDate").val()){
                drawOccupancyAndMoneyByPeriodLineChart();
            }
        } else {
            $("#providerFromDateBlock").hide();
            $("#providerToDateBlock").hide();
            drawOccupancyAndMoneyByPeriodLineChart();
        }
    }

    function providerDateChanged(){
        if(typeProvider == 'period'){
            if($("#providerFromDate").val() && $("#providerToDate").val()){
                drawOccupancyAndMoneyByPeriodLineChart();
            }
        } else {
            drawOccupancyAndMoneyByPeriodLineChart();
        }
    }
</script>
</html>