<!DOCTYPE html>
<html th:replace="layouts/main::main(~{::div}, ~{::script}, ~{::link})" xmlns="http://www.w3.org/1999/html">

<link th:href="@{/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css"/>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">


                <div class="card table-responsive">
                    <div class="card-header" th:text="#{user.users}"></div>
                    <div class="card-body">
                        <table id="userTable" class="table table-bordered table-bordered">
                            <thead>
                            <tr>
                                <th><a th:text="#{user.username}"></a></th>
                                <th><a th:text="#{user.email}"></a></th>
                                <th><a th:text="#{user.first.name}"></a></th>
                                <th><a th:text="#{user.last.name}"></a></th>
                                <th><a th:text="#{role.name}"></a></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                        </table>
                        <p sec:authorize="hasAnyRole('ROLE_OWNER', 'ROLE_ADMIN')">
                        <div class="form-group row">
                            <div class="col-12">
                                <a th:href="@{|/register|}" class="btn btn-danger waves-effect waves-light"
                                   th:text="#{user.addUser}"></a>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Required datatable js -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Buttons examples -->
<script th:src="@{/plugins/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables/jszip.min.js}"></script>
<script th:src="@{/plugins/datatables/pdfmake.min.js}"></script>
<script th:src="@{/plugins/datatables/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables/buttons.colVis.min.js}"></script>
<!-- Responsive examples -->
<script th:src="@{/plugins/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables/responsive.bootstrap4.min.js}"></script>

<script type="text/javascript">
    const table = $('#userTable').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/rest/users",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
                return JSON.stringify(d);
            }
        },
        "columns": [
            {"data": "username", "width" : "25%"},
            {"data": "email"},
            {"data": "firstName"},
            {"data": "lastName"},
            {"data" : "roles" ,
              "render" : "[, ].name_ru"
            },
            {"data": "id",
            "render" : function(id){
                return '<a href = "edit/' + id+'">Редактировать<a>';
            }},
            {"data": "id",
            "render" : function(id){
                return '<a href = "delete/' + id+'">Удалить<a>';
            }}
        ],
        "buttons": ['copy', 'excel', 'pdf', 'csv'],
        language: {
            url: '/plugins/datatables/json/ru.json'
        }
    });

    var interval = null;
    $(document).on('ready',function(){
        interval = setInterval(showButtons,1000);
    });

    function showButtons(){
        if(table.buttons().container().length > 0){
            clearInterval(interval);
            table.buttons().container().appendTo('#userTable_wrapper .col-md-6:eq(0)');
        }
    }

</script>

</html>
